<h1>Listing messages</h1>

<table>
  <tr>
    <th>From</th>
    <th>Subject</th>
    <th>Action</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
	<td><%= link_to User.find(message.user_id_from).name, '/' %></td>
	<td><% if message.read == false %><strong><%= link_to message.subject, message %></strong><% else %><%= link_to message.subject, message %><% end %></td>
    <td><%= link_to '[X]', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

