/* Grid override */
body.wizard {
	margin: 100px auto;
}

body.wizard .row {
	width: 1000px;
	max-width: 100%;
	min-width: 650px;
	margin: 0 auto;
}

body.wizard div.header {
	margin: 0px auto 25px;
}

body.wizard div.content {
	border: solid 1px #DADADA;
	background: #F4F4F4;
}

body.wizard div.fyi {
	border: solid 1px #DADADA;
	background: #FFF;
	padding: 10px;
}

body.wizard div.fyi h3 {
	font-size: 17px;
	display: block;
	margin: 0px 0px 10px;
}

body.wizard div.fyi ul {
	border-bottom: solid 1px #DADADA;
	list-style: square inside;
	padding-bottom: 15px;
	font-size: 14px;
}

body.wizard div.fyi p {
	list-style: square inside;
	font-size: 14px;
}

body.wizard div.card {
	border: solid 1px #DADADA;
	margin: 25px auto 0px;
	background: #FFF;
	padding: 10px;
	width: 100%;
}

body.wizard div.card div.about {
	background: #585858;
	margin: 10px -10px -10px;
}

body.wizard div.card div.about table {
	width: 100%;
}

body.wizard div.card div.about table td:first-child {
	width: 10px;
}

body.wizard div.card div.about span.label {
	white-space: nowrap;
	text-align: center;
	font-weight: bold;
	padding: 0px 30px;
	font-size: 18px;
	display: block;
	color: #FFF;
}

body.wizard div.card div.about table td div.textarea {
	padding: 10px;
}

body.wizard div.card div.about textarea {
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	height: 75px;
	width: 100%;
}

body.wizard div.card h1.name {
	font-style: italic;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 25px;

}

body.wizard div.card h2.job {
	font-weight: normal;
	font-size: 18px;
	margin: 4px 0px;
}

body.wizard div.card h3.location {
	margin: 3px 0px 10px;
	font-weight: normal;
	font-size: 17px;
}

body.wizard div.card div.skills {
	float: right;
}

body.wizard form.person_form div.done,
body.wizard form.person_form div.detected,
body.wizard form.person_form div.undetected {
	background: #c1dce9;
	margin-bottom: 6px;
	padding: 20px;
}

body.wizard form.person_form div.done h3,
body.wizard form.person_form div.detected h3,
body.wizard form.person_form div.undetected h3 {
	margin-top: 0px;
}

body.wizard form.person_form div.person_cloud a {
	margin-bottom: 6px;
	margin-left: 6px;
	font-size: 16px;
	width: 308px;
	float:left;
}

body.wizard form.person_form div.person_cloud a:nth-child(3n-2) {
	margin-left: 0px;
}

body.wizard form.person_form div.person_cloud a span {
	display: block;
}

body.wizard form.person_form div.person_cloud a span.email {
	font-size: 12px;
}

body.wizard div.badge{float:right;height:45px;width:45px;border-radius:45px;background:#3b3b3b url(/assets/badges/teacher-leadership.png) no-repeat center center;margin:10px;position:relative;}div.badge em{display:none;background-image:url(/assets/images/up-arrow.png);position:absolute;height:8px;width:16px;bottom:-20px;left:30%;}
body.wizard div.badge:hover{background-color:#0084af;}
body.wizard div.badge.assessment{background-image:url(/assets/badges/assessment.png);}
body.wizard div.badge.career-development{background-image:url(/assets/badges/career-development.png);}
body.wizard div.badge.culture-building{background-image:url(/assets/badges/culture-building.png);}
body.wizard div.badge.lesson-materials{background-image:url(/assets/badges/lesson-materials.png);}
body.wizard div.badge.lesson-plans{background-image:url(/assets/badges/lesson-plans.png);}
body.wizard div.badge.life-skills{background-image:url(/assets/badges/life-skills.png);}
body.wizard div.badge.pedagogy-themes{background-image:url(/assets/badges/pedagogy-themes.png);}
body.wizard div.badge.specialized-training{background-image:url(/assets/badges/specialized-training.png);}
body.wizard div.badge.teacher-leadership{background-image:url(/assets/badges/teacher-leadership.png);}
body.wizard div.badge.technology{background-image:url(/assets/badges/technology.png);}
body.wizard div.badge_long{height:45px;width:45px;border-radius:45px;background:#3b3b3b url(/assets/badges/teacher-leadership.png) no-repeat center center;margin:10px;position:relative;}div.badge em{display:none;background-image:url(/assets/images/up-arrow.png);position:absolute;height:8px;width:16px;bottom:-20px;left:30%;}
body.wizard div.badge_long.assessment{background-image:url(/assets/badges/assessment.png);}
body.wizard div.badge_long.career-development{background-image:url(/assets/badges/career-development.png);}
body.wizard div.badge_long.culture-building{background-image:url(/assets/badges/culture-building.png);}
body.wizard div.badge_long.lesson-materials{background-image:url(/assets/badges/lesson-materials.png);}
body.wizard div.badge_long.lesson-plans{background-image:url(/assets/badges/lesson-plans.png);}
body.wizard div.badge_long.life-skills{background-image:url(/assets/badges/life-skills.png);}
body.wizard div.badge_long.pedagogy-themes{background-image:url(/assets/badges/pedagogy-themes.png);}
body.wizard div.badge_long.specialized-training{background-image:url(/assets/badges/specialized-training.png);}
body.wizard div.badge_long.teacher-leadership{background-image:url(/assets/badges/teacher-leadership.png);}
body.wizard div.badge_long.technology{background-image:url(/assets/badges/technology.png);}