<h1>Pinned profiles</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pins.each do |pin| %>
  <tr>
	<td><%= link_to Teacher.find_by_id(pin.teacher_id).user.name, '/'+Teacher.find_by_id(pin.teacher_id).url %>
    <td><%= link_to '[X]', pin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
