<h1>Interview Details</h1>

<div id="sidebar" class="job_browser">

<h4>&nbsp;</h4>

</div>

<div id="content">
<h4>Job</h4>

<div class="item">
	<p><strong><%= link_to Job.find(@interview.job_id).title, Job.find(@interview.job_id) %></strong>
	
	<br />
	<strong>Date Selected:</strong>
		<% if @interview.selected == 0 %>
			No date selected
		<% elsif @interview.selected == 1 %>
			<%= @interview.date.to_s(:due_time) %>
		<% elsif @interview.selected == 2 %>
			<%= @interview.date_alternate.to_s(:due_time) %>
		<% elsif @interview.selected == 3 %>
			<%= @interview.date_alternate_second.to_s(:due_time) %>
		<% end %>
	</p>
</div>

</div>