div.container{background:white;padding:5px;}
body{background-color:#e5ebee;padding-top:15px;background-image:url(/card_assets/images/background.png);}
div.video{border:1px dashed #DADADA;padding:0px;height:258px;background:#ffffff url(/card-assets/images/video-faded.jpg) no-repeat center center;}
div.profile{padding:0px 20px;color:#808080;}div.profile .columns{margin-top:20px;margin-bottom:20px;}
div.profile h3{font-weight:200;font-size:1.6em;margin:0px;}
div.profile img.profile-pic{margin-right:10px;float:left;}
div.profile div.badge{float:left;margin:0px 10px 5px 0px;}
div.skill-select {padding: 0 0 10px 0;}
div.skill-select h2{font-weight:200;margin:0px;font-size:1.6em;margin-bottom:10px;border-bottom:1px solid #DADADA;padding-bottom:8px;}
div.skill-select .columns{font-weight:bold;font-size:12px;line-height:170%;}
div.skill-select .columns:last-child{float:left;}
div.skill-select .columns.selected span{background:#0084af;color:white;border-radius:5px;padding:2px 6px;}
div.skill-select .columns span{cursor:pointer;}
.finish-row{padding-top:30px;}
a.square-button{background:#0084af;color:white;font-size:13px;font-weight:bold;display:block;float:left;padding:6px 20px;margin-top:10px;}
div.skill-detail{display:none;}
div.badge{height:45px;width:45px;border-radius:45px;background:#3b3b3b url(/assets/badges/teacher-leadership.png) no-repeat center center;margin:10px;position:relative;}div.badge em{display:none;background-image:url(/assets/images/up-arrow.png);position:absolute;height:8px;width:16px;bottom:-20px;left:30%;}
div.badge:hover{background-color:#0084af;}
div.badge.assessment{background-image:url(/assets/badges/assessment.png);}
div.badge.career-development{background-image:url(/assets/badges/career-development.png);}
div.badge.culture-building{background-image:url(/assets/badges/culture-building.png);}
div.badge.lesson-materials{background-image:url(/assets/badges/lesson-materials.png);}
div.badge.lesson-plans{background-image:url(/assets/badges/lesson-plans.png);}
div.badge.life-skills{background-image:url(/assets/badges/life-skills.png);}
div.badge.pedagogy-themes{background-image:url(/assets/badges/pedagogy-themes.png);}
div.badge.specialized-training{background-image:url(/assets/badges/specialized-training.png);}
div.badge.teacher-leadership{background-image:url(/assets/badges/teacher-leadership.png);}
div.badge.technology{background-image:url(/assets/badges/technology.png);}
div.badge_long{height:45px;width:45px;border-radius:45px;background:#3b3b3b url(/assets/badges/teacher-leadership.png) no-repeat center center;margin:10px;position:relative;}div.badge em{display:none;background-image:url(/assets/images/up-arrow.png);position:absolute;height:8px;width:16px;bottom:-20px;left:30%;}
div.badge_long.assessment{background-image:url(/assets/badges/assessment.png);}
div.badge_long.career-development{background-image:url(/assets/badges/career-development.png);}
div.badge_long.culture-building{background-image:url(/assets/badges/culture-building.png);}
div.badge_long.lesson-materials{background-image:url(/assets/badges/lesson-materials.png);}
div.badge_long.lesson-plans{background-image:url(/assets/badges/lesson-plans.png);}
div.badge_long.life-skills{background-image:url(/assets/badges/life-skills.png);}
div.badge_long.pedagogy-themes{background-image:url(/assets/badges/pedagogy-themes.png);}
div.badge_long.specialized-training{background-image:url(/assets/badges/specialized-training.png);}
div.badge_long.teacher-leadership{background-image:url(/assets/badges/teacher-leadership.png);}
div.badge_long.technology{background-image:url(/assets/badges/technology.png);}
div.badge:hover em{display:block;}
div.highlight{margin:0px -10px 30px;background:#585858;color:white;padding:20px;padding-bottom:5px;}div.highlight div.quotable p{font-family:Georgia;margin-right:30px;}
div.highlight ol{margin-left:20px;margin-top:8px;}div.highlight ol li{font-size:12px;font-weight:bold;line-height:130%;}
div.content{margin:20px;}
p.byline{font-size:12px;font-weight:200;}
h1{font-family:"Exo",Arial,sans-serif;font-weight:200;font-size:24px;color:#b0b0b0;margin:0px 0px 0px 0px;}h1.header{color:#487da9;margin-top:10px;margin-bottom:5px;font-size:28px;}
a.add{float:right;margin-top:-4px;font-size:90%;display:block;font-weight:bold;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#3b3b3b;text-decoration:none;}
a.add:hover{color:#0084af;}
.reveal-modal-bg{background-color:#000;max-height:400}
.reveal-modal{padding:20px;}.reveal-modal .close-reveal-modal{top:15px;right:15px;}
label{margin-top:10px;}
.noembed-embed iframe { width: 100%; height: 100%; }
.noembed-meta-info { display: none; }
div.noembed-embed-inner { height: 430px; }
.notice { border: 1px; solid #CCC; padding: 10px; background-color: #fffbc1; }
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
} 

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
