<h1>Applications to <%= link_to @job.title, @job %></h1>

<table>
  <tr>
    <th>Teacher</th>
    <th>Notes</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%= link_to application.teacher.user.name, '/'+application.teacher.url.to_s %></td>
    <td><%= application.additional_notes %></td>
    <td><%= application.status %></td>
  </tr>
<% end %>
</table>
