<h1>DemoLesson Blog</h1>

<% @blog_entries.each do |blog_entry| %>

<h2><%= blog_entry.title %></h2>

<p><%= blog_entry.content %><br />
<small><%= blog_entry.created_at.to_s(:due_time) %></small></p>

<% end %>
