<h1>Blog</h1>

<div id="sidebar" class="job_browser">

<h4>Info</h4>
</div>

<div id="content">

<% @blog_entries.each do |blog_entry| %>

<h4><%= blog_entry.title %><span class="blog_date"><%= blog_entry.created_at.to_s(:due_time) %></span></h4>

<p><%= blog_entry.content %><br />

<% end %>

</div>