<h1>Blog Admin</h1>

<div id="sidebar" class="job_browser">

<div class="actions">
	<%= link_to 'New Blog Entry', new_blog_entry_path %>
</div>

</div>

<div id="content">

<% @blog_entries.each do |blog_entry| %>

<p><%= link_to blog_entry.title, edit_blog_entry_path(blog_entry) %> &middot; <%= link_to '[X]', blog_entry, :confirm => 'Are you sure?', :method => :delete %><span class="blog_date"><%= blog_entry.created_at.to_s(:due_time) %></span></p>

<% end %>

</div>