<h1>All Jobs</h1>

<div id="sidebar">
	Filter by
</div>

<div id="content">
<% @jobs.each do |job| %>
  <div class="item">
	<% if job.school.user.avatar? %><%= image_tag job.school.user.avatar.url(:thumb) %><% else %><% end %>
	<p>
	<%= link_to job.title, job %><br />
	at <%= job.school.name %>
	</p>
  </div>
<% end %>
</div>