_____________
Your verification code is <%= @verification_code %>.  Please verify your email address by visiting http://demolesson.com/verify?user_id=<%= @user_id %>&verification_code=<%= @verification_code %>

-------------
