_____________
Your verification code is <%= @verification_code %>.  Please verify your email address by visiting http://demolesson.com/verify?email=<%= @email %>&verification_code=<%= @verification_code %>

-------------
