<div style="text-align: center; padding-top: 100px;">
<%= text_field :code, :code, :value => @passcode.code, :size => 40, :style => "font-size:36px;font-family: Helvetica, Arial, sans-serif; text-align: center; color: #666" %>
</div>