<p>Select one:</p>

<p>I am a <a href="/teachers/new/#{@user_id}">Teacher</a> looking for jobs</p>

<p>I am a <a href="/schools/new/#{@user_id}">School Administrator</a> posting teaching positions</p>
