<h1><%= @user.name %></h1>

<% if @teacher.nil? %>
Administrator at <%= link_to @school.name, :controller => :schools, :action => :show, :id => @school.id %>
<% end %>

<% if @school.nil? %>
<%= link_to "Teacher Profile", "/"+@teacher.url %>
<% end %>