<section id="main-content" class="inner-content signup-page">
	<h1>
	Signup for Tioki Launch!
	</h1>
	<!--<h3>
	Teachers join free, get started now
	</h3>-->
	<div class="signup-form" >
		<p>Tioki is not available yet but if you enter your email address below we will contact you the second it is.</p>
		<div rel="0IWKB8Z9" class="lrdiscoverwidget" data-logo="off" data-background="off" data-share-url="tioki.com/tioki_signup" data-css=""></div>
		<script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
		<!--<form action="/" id="signup-form">
			<fieldset>
				<input type="email" placeholder="Email" />
			</fieldset>
			<fieldset id="enterpwd">
				<input type="password" placeholder="Password" />
			</fieldset>
			<fieldset id="confirmpwd">
				<input type="password" placeholder="Confirm Password" />
			</fieldset>
			<fieldset>
				<input type="submit" class="button huge-button" value="Sign up for Tioki" />
			</fieldset>
			<p class="smalltext">
			By signing up, I agree to the <span><a href="#">terms</a></span>.
			</p>
		</form>
		<iframe src="http://www.facebook.com/plugins/facepile.php? href=http://demolesson.com" scrolling="no" frameborder="0" style="border:none;overflow:hidden; width:300px;" allowTransparency="true"></iframe>-->
	</div>
</section> <!-- End Main Content -->