<%= direct_upload_form_for @uploader do |f| %>
  <div class="field">
	<%= f.label "Select video" %><br />
	<%= f.file_field :video %>
	<br/><span style= "color:#ff0000; font-size:13px; margin-left: 2px; text-align: center">The speed at which your video uploads depends on your internet connection and file size. Schools prefer that your video be between 10-15 minutes in length.</span>
  </div>
  
  <div class="actions">
  	<%= f.submit "Upload Video" %> 
  </div>
<% end %>