<div id="wrapper_video_uploader" style ="background-color: transparent">
	
	<span style= "font-size:15px; margin-left: 2px; text-align: center"><strong>Please follow these simple guidelines to make video uploading easier:</strong></span></br>
	<span style= "font-size:15px; margin-left: 2px; text-align: center">&middot; Schools prefer that your video be between 10-15 minutes in length.</span></br>
	<span style= "font-size:15px; margin-left: 2px; text-align: center">&middot; Keeping  video file size below 500MB will ensure faster uploads.</span></br>
	<span style= "font-size:15px; margin-left: 2px; text-align: center">&middot; Google Chrome web browser works best with our video uploader.</span>
</div>
</br></br>

<%= direct_upload_form_for @uploader do |f| %>
  <div class="field">
	<%= f.label "Select video" %><br />
	<%= f.file_field :video %>
  </div>
  
  <div>
  	<%= f.submit "Upload Video", :class => "btn btn-success" %> 
  </div>
<% end %>
