<%= direct_upload_form_for @uploader do |f| %>
  <div class="field">
	<%= f.label "Select video" %><br />
	<%= f.file_field :video %>
  </div>
  
  <div class="actions">
  	<%= f.submit "Upload Video" %>
  </div>
<% end %>