		<script type="text/javascript">
			Shadowbox.init();
		</script>
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>
<h5>My Video     <%= link_to "          Upload New Video         ", "/videos/new", :class => "btn btn-danger" %></h5>


<% if @teacher.video_embed_url? %>
  <% if @teacher.video_embed_html %>
    <br /><h7>My Current Video:</h7><br />
    <div id="video">
      <%= @teacher.video_embed_html.html_safe %>
    </div>
  <% end %>
<% elsif @has_video == true %>
  <%= render 'create_snippet_form' %>
<% end %>

