<h1>Record Video</h1>

<div style="float: right; width: 250px">
Record a demo lesson to be posted to your profile and click ‘Save’ when you're finished.<br />
<small><strong>Remember to leave the browser window open while the video processes and uploads.</strong></small>
</div>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"  codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="449" height="545"
id="viddler_recorder" align="middle"> <param name="allowScriptAccess" value="always" /> <param name="allowNetworking" value="all" /> <param name="movie" value="http://cdn-static.viddler.com/flash/recorder.swf" /> <param name="quality" value="high" /> <param name="scale" value="noScale"> <param name="bgcolor" value="#000000" /> <param name="flashvars" value="fake=1&recordToken=<%= @recordToken["record_token"]["value"] %>" /> <embed src="http://cdn-static.viddler.com/flash/recorder.swf" quality="high" scale="noScale" bgcolor="#000000"
allowScriptAccess="always" allowNetworking="all" width="640" height="500" name="viddler_recorder"
flashvars="fake=1&recordToken=<%= @recordToken["record_token"]["value"] %>" align="middle" allowScriptAccess="sameDomain"
type="application/x-shockwave-flash"  pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>

<script>
function recordDone(username,user_video_number,video_id) {
	//alert("record done "+user_video_number+" vidid: "+video_id);

    var form = $('<form></form>');

    form.attr("method", "post");
    form.attr("action", "/");

    var field = $('<input></input>');

    field.attr("type", "hidden");
	field.attr("authenticity_token", "6E2LeJsMEGPLKfMm4rTH5dRqVzyQm4uiS/867GQlYKI=")
    field.attr("username", username);
    field.attr("user_video_number", user_video_number);
	field.attr("video_id", video_id);

    form.append(field);

    // The form needs to be apart of the document in
    // order for us to be able to submit it.
    $(document.body).append(form);
    form.submit();
}
</script>