<section id="main-content">
	<div class="features-slider">
		<div id="featured">
			<img src="/assets/tioki/features-slide/feature-one.jpg" data-caption="#one-caption" />
			<img src="/assets/tioki/features-slide/feature-two.jpg" data-caption="#two-caption" />
			<img src="/assets/tioki/features-slide/feature-three.jpg" data-caption="#three-caption" />
			<img src="/assets/tioki/features-slide/feature-four.jpg" data-caption="#four-caption" />
		</div>
		<!-- Captions for Orbit -->
		<span class="orbit-caption" id="one-caption">
			<div class="signup-form">
				<h2>
				Teachers Join For Free
				</h2>
				<!--form action="/" id="signup-form">
					<fieldset>
						<input type="email" placeholder="Email" />
					</fieldset>
					<fieldset id="enterpwd">
						<input type="password" placeholder="Password" />
					</fieldset>
					<fieldset id="confirmpwd">
						<input type="password" placeholder="Confirm Password" />
					</fieldset>
					<fieldset>
						<input type="submit" class="button huge-button" value="Sign up for Tioki" />
					</fieldset>
					<p class="smalltext">
					By signing up, I agree to the <span><a href="#">terms</a></span>.
					</p>
				</form-->
				<p>Tioki is not ready yet but we can tell you when via Launch Rock.</p>
				<a href="http://launch.tioki.com" style="background:#F66C4C;color:#FFF;margin:10px inherit;display:block;text-align:center;" class="button huge-button">Click here</a>
				<iframe src="http://www.facebook.com/plugins/facepile.php? 
	href=http://demolesson.com" scrolling="no" frameborder="0" style="border:none;  
	overflow:hidden; width:300px;" allowTransparency="true"></iframe> 
			</div>
			<div class="featured-quote">
				<blockquote>
				"Tioki made it so easy for me to connect with colleagues and find a wonderful job."
				</blockquote>
			</div>
		</span>
		<span class="orbit-caption" id="two-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Your professional digital portfolio
				</h1>
				<div class="box-divider">
				</div>
				<p>
				To find the job of your dreams
				</p>
				<!--a href="signup.html" class="goto-signup">
				Sign up now!
				</a-->
			</div>
		</span>
		<span class="orbit-caption" id="three-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Connect with<br />
				other teachers
				</h1>
				<div class="box-divider">
				</div>
				<p>
				and build your network of<br />
				colleagues and schools
				</p>
				<!--a href="signup.html" class="goto-signup">
				Sign up now!
				</a-->
			</div>
		</span>
		<span class="orbit-caption" id="four-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Share tips and lesson plans
				</h1>
				<div class="box-divider">
				</div>
				<p>
				and upload your demo lessons
				</p>
				<a href="signup.html" class="goto-signup button">
				Sign up now!
				</a>
			</div>
		</span>
	</div>
	<section class="press inner-content">
		<h1>
		As featured on...
		</h1>
		<article class="featured-thumb">
			<img src="/assets/tioki/press/edsurge.png" alt="" />
		</article>
		<article class="featured-thumb">
			<img src="/assets/tioki/press/startupweekend.png" alt="" />
		</article>
		<article class="featured-thumb">
			<img src="/assets/tioki/press/TechCrunch.png" alt="" />
		</article>
		<article class="featured-thumb">
			<img src="/assets/tioki/press/teach.png" alt="" />
		</article>
		<article class="featured-thumb last-thumb">
			<img src="/assets/tioki/press/launchedu.png" alt="" />
		</article>
		<div class="clearfloat"></div>
	</section>
</section>