<div id="wrapper">
	
<div id="header_inner">

<h2 align="center">The best way to find great teachers is to see them teach.</h2>

</div>

<div id="container_inner">
	
<div id="left" align="center">

<h2>Teachers</h2>

<p>Get hired based on how well you actually teach.</p>

<p><%= link_to "I am a teacher", :signup %></p>

</div>

<div id="right" align="center">

<h2>School Administrators</h2>

<p>See teaching videos for all your applicants.</p>

<p><%= link_to "I am an admin", :signup %></p>

</div>

<div class="clearer"></div>

</div>

<div id="footer_inner"></div>

</div>
