<div id="wrapper">
	
<div id="header_inner" align="center">

<h2>Market Yourself Like Never Before!</h2>

<p style="font-size:14px;margin-top:1px;margin-bottom:10px;color:#c46c28"><strong></strong></p>

<div class="splash_image">
<a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=63bc733b" rel="shadowbox;height=500;width=840"><%= image_tag "classroom_hover.jpg", :border => 0 %></a>
</div>

<p class="buttons"><span style="padding-right:15px"><a href="/beta?userType=1"><%= image_tag "teacher.png", :border => 0 %></a></span>
<span style="padding-left:15px"><a href="/beta?userType=4"><%= image_tag "admin.png", :border => 0 %></a></span></p>
</p>
<a href="/howitworks"><strong>How It Works</strong></a>

</div>

<div id="container_inner" style="height: 200px">
	
	
	<ul id="container_inner"> 
		<li>
			<a href="http://www.demolesson.com">
				<img src="classroom_hover.jpg" />
			</a>
		</li>
		<li>
			<a href="http://medienfreunde.com/deutsch/referenzen/kreation/whizzkids.html">
				<img src="images/whizzkids.gif" alt="Whizzkids" />
			</a>
		</li> 
		<li>
			<a href="http://medienfreunde.com/deutsch/referenzen/printdesign/koenigin_mutter.html">
				<img src="images/km.jpg" alt="Königin Mutter" />
			</a>
		</li> 
		<li>
			<a href="http://medienfreunde.com/deutsch/referenzen/webdesign/rt_reprotechnik_-_hybride_archivierung.html">
				<img src="images/rt_arch.jpg" alt="RT Hybride Archivierung" />
			</a>
		</li> 
		<li>
			<a href="http://medienfreunde.com/deutsch/referenzen/kommunikation/tuev_sued_gruppe.html">
				<img src="images/tuev.jpg" alt="TÜV SÜD Gruppe" />
			</a>
		</li> 
	</ul>

</div>

<div id="footer_inner"></div>

</div>
