<div id="wrapper_global">
<h1 class="green">About Demo Lesson</h1>

<p>At Demo Lesson, we give Teachers and Administrators the freedom to market themselves like never before! We’ve utilized the best technology to create the most efficient, effective, and empowering hiring platform for educators.</p>

<p>Your Demo Lesson profile serves as your professional digital portfolio. It provides a space for you to step off of the traditional resume and showcase your talents and abilities to potential employers in a way you never could before.</p>

<p>Use our advanced search database to search for the job of your dreams. Our application tracking system allows you to track your position within the hiring process so that you are never in the dark again. You can even share your profile with schools outside of our network, further enhancing your ability to market yourself!</p>

<span style="padding-left:0px"><a href="/teachersignup"><%= image_tag "sign_up_green.png", :border => 0 %></a></span></p>
	
<!--<p class="buttons">
<a href="/signup"><img src="<%= asset_path "signup.png" %>"></a>
</p>-->

</div>