<div id="wrapper_global" style="font-family: Helvetica, Arial, sans-serif;">
	
<h5>What is DemoLesson?</h5>

<p style="font-size:16px">DemoLesson is the premiere online professional network exclusively for educators. As former educators ourselves, we know that you’re not “just a teacher.” There’s so much more to you and your profession than is normally publicized, and we’ve made it our mission to put you in control of creating your professional image as an educator. We’ve built our website specifically for the use of educators, and through such features as video and specialized skills tags, we’ve made it easier than ever for educators to create their online identity and make meaningful connections with others in the field. Whether you want to showoff your incredible talents, broaden your network, connect with those you already know, or meet new educators in the field, DemoLesson is the professional network for you!</p><br />

<h5>Meet the Founders</h5>

<div id="bios">
	<img title="Brian" src="<%= asset_path 'Brian.png' %>" style="float:left; margin-left:30px;" alt="" />
	<div id="bio">
		<p style="font-size:18px; line-height:20px; margin: 0px 0px 5px 0px">Brian Martinez</p>
		<span style="margin: 6px 0px 10px 0px">Brian holds a degree in Business Economics and Accounting from the University of California, Santa Barbara. While there, he was awarded the exclusive Technology Entrepreneurship Certificate from the Technology Management Program for his mastery of the critical aspects of entrepreneurial success. Brian founded AcceloMed Technologies, a medical device startup, in 2009, and then went on to gain two years of audit and tax experience working with CBIZ MHM, LLC, a national public accounting and business services provider. Brian is also a graduate of the elite Riordan Fellows Program at the UCLA Anderson School of Management and he previously served as the sole alumni representative on the Board of Directors of South Central Scholars, a youth scholarship organization in Los Angeles.<br><a target="_blank" href="https://twitter.com/BC_Martinez" >Twitter </a> &middot; <a target="_blank" href="http://www.linkedin.com/in/bcmartinez" >LinkedIn </a> &middot; <a target="_blank" href="http://angel.co/brian-martinez-1" >AngelList </a>  
		</span>
	</div>
</div>
<div id="clear_spacer"></div>
<div id="bios">
	<img title="Mandela" src="<%= asset_path 'Mandela.png' %>" style="float:left; margin-left:30px;" alt="" />
	<div id="bio">
		<p style="font-size:18px; line-height:20px; margin: 0px 0px 5px 0px">Mandela Schumacher-Hodge</p>
		<span style="margin: 6px 0px 10px 0px">Mandela graduated from Pepperdine University with a Bachelor of Arts in Intercultural Communication and a minor in Spanish. Mandela was a Teach for America corps member and spent her first year teaching 6th grade Humanities at Bret Harte Middle School (Los Angeles Unified School District) in South Central Los Angeles, and then went on to teach another two years at Bert Corona Charter School in Pacoima, CA. While at Bert Corona, Mandela was voted 6th Grade Lead Teacher, adding various new administrative duties to her teaching role, one of which was the hiring of new teachers. During this period, Mandela also obtained a multiple-subject teaching credential and Masters Degree in Education Administration and Policy from Loyola Marymount University. Most recently, Mandela was a Ph.D. candidate at the prestigious UCLA Graduate School of Education, where she focused her research on the teacher hiring process.<br><a target="_blank" href="https://twitter.com/Mandelash" >Twitter </a> &middot; <a target="_blank" href="http://www.linkedin.com/in/schumacherhodge" >LinkedIn </a> &middot; <a target="_blank" href="http://angel.co/mandelash" >AngelList </a>  </span>
	</div>
</div>
	
</div>