<div id="wrapper_global">
<h1 class="orange">Contact and Support</h1>

If you have any questions, problems, or concerns, please contact us.

<div class="contact">

<%= link_to '(323) 786-3366', 'skype://+13237863366' %>

<%= link_to 'support@demolesson.com', 'mailto:support@demolesson.com' %>

</div>

</div>