<div id="wrapper">
<div id="header" style="font-size:24px"><center>
<img src="logoyo.jpg" />
<br /><br />The best way to find great teachers is to see them teach.</center></div>
<div id="container">
<div id="left">
<center>
<strong style="font-size:20px">Teachers</strong>
<br />
<br />
Get hired based on how well you actually teach.
<br />
<br />
<a class="btn" href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dGg2X2pLWHVBdGVOV0Y1QzdqUFBOU1E6MQ"><span>Take Our Teacher 
Survey</span></a>
</center>
</div>
<div id="right">
<center>
<strong style="font-size:20px">School Administrators</strong>
<br />
<br />
See teaching videos for all your applicants.
<br />
<br />
<a class="btn" href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dFplazRNU3F5UV80SzlRenJRZlpYV0E6MQ#gid=0"><span>Take Our Admin 
Survey</span></a>
</center>
</div>
<div class="clearer"></div>
</div>
<div id="footer"></div>
<center>
demolesson.com was created as part of Startup Weekend, by <a 
href="http://www.linkedin.com/profile/view?id=43214518&locale=en_US&trk=tab_pro">Brian 
Martinez</a>, <a href="http://cmcausland.com">Carol Ann McAusland</a>, 
<a href="http://www.josephmosby.com">Joseph Mosby</a>, <a 
href="http://www.spazzmania.tv/">Lin Tam</a>, <a 
href="http://www.innovationteaching.com">Steven Francisco</a>, and <a 
href="http://thomaslotze.com">Thomas Lotze</a>.
</center>
</div>
