<div id="wrapper">
<div id="header" style="font-size:24px"><center>
<img src="logoyo.jpg" />
<br /><br />The best way to find great teachers is to see them teach.</center></div>
<div id="container">
<div id="left">
<center>
<strong style="font-size:20px">Teachers</strong>
<br />
<br />
Get hired based on how well you actually teach.
<br />
<br />
</center>
</div>
<div id="right">
<center>
<strong style="font-size:20px">School Administrators</strong>
<br />
<br />
See teaching videos for all your applicants.
<br />
<br />
</center>
</div>
<div class="clearer"></div>
</div>
<div id="footer"></div>
</div>
