<% if self.current_user.nil? %>
  <%= render :partial => 'splash' %>
<% elsif self.current_user.teacher != nil %>
  <div id="wrapper_global">
  <%= render :partial => 'teacher_dashboard' %>
  </div>
<% elsif self.current_user.school != nil || self.current_user.is_shared %>
  <div id="wrapper_global">
  <%= render :partial => 'admin_dashboard' %>
  </div>
<% end %>
