<div id="wrapper_global">
		<h1>Muckerlab</h1>
		<h4>Idea Pitch</h4>
		<div id="video" style="margin-left: 180px">
			<object width="545" height="429" id="viddlerOuter-f851e709" type="application/x-shockwave-flash" data="//www.viddler.com/mini/f851e709/0/105835915"> <param name="movie" value="//www.viddler.com/mini/f851e709/0/105835915"> <param name="allowScriptAccess" value="always"><param name="allowNetworking" value="all"><param name="allowFullScreen" value="true"><param name="flashVars" value="f=1&autoplay=f&disablebranding=1&loop=0&hd=0"></object>
		</div>
		
		<h4>Team Pitch</h4>
		<div id="video" style="margin-left: 180px">
			<object width="545" height="429" id="viddlerOuter-318cc506" type="application/x-shockwave-flash" data="//www.viddler.com/mini/318cc506/0/27882487"> <param name="movie" value="//www.viddler.com/mini/318cc506/0/27882487"> <param name="allowScriptAccess" value="always"><param name="allowNetworking" value="all"><param name="allowFullScreen" value="true"><param name="flashVars" value="f=1&autoplay=f&disablebranding=1&loop=0&hd=0"></object>
		</div>
</div>