<div id="wrapper">
	
	<div id="header_inner" style="height: 325px; margin-left:0px" align="center">

		


		<div id="right" align="center">
			<section>
		      <div id="stack-show" style="height: 300px">
		        <ul id="stack">

		          <li class="photo-card photo-card3 current" style="z-index: 100; -webkit-transform: rotate(0deg); top: -7px; opacity: 1; left: 0px; " id="photo-card3">
		         	<div style="margin: 9px 0px 0px 0px">
		            <%= image_tag "school_thankyou.jpg", :size => "325x215", :class => "snapshot", :align => "center" %>
		            </div>
		          </li>
		        </ul>
			   </div>
		    </section>

		</div>

		<div id="left" align="left" style="margin-left:15px; margin-top:100px; width:420px">

			<span style="font-size:30px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:left; margin-top: 0px; margin-left: 10px">Thank You for Signing Up</span></br><span style="font-size:30px; font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif; color:#000; text-shadow:#ccc 1px 1px 2px; float:right; margin-top: 10px; margin-left: 10px"> with Demo Lesson!</span></br>
			<p style ="font-size:20px; margin-top: 10px; margin-left:10px"> We will be in contact with you shortly. </p>

		</div>

	</div>


<!-- Google Code for School User Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 952288967;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "zV4zCJnrnwQQx42LxgM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/952288967/?value=0&amp;label=zV4zCJnrnwQQx42LxgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

</div>
