<div id="wrapper_global">
<h1>FAQ: Schools</h1>

<div id="sidebar" class="job_browser">
	<h4>FAQ</h4>
	<%= link_to "Teachers FAQ Page", teachers_faq_path %>
</div>

<div id="content">

<div class="item">
<p>
	<strong>Q: How do I post a job?</strong><br/>
	A: Click on “Post New Job” from your “Home” page or from your “My Jobs” page.  
</p>
</div>

<div class="item_list">
<p>
	<strong>Q: What should my job description include?</strong><br/>
	A: We use your job description as the basis of our applicant matching system. Therefore, it is key that you include as much information about the job as possible to save the most time when reviewing applicants. We would suggest including the following:<br/> 
	
	<ul>
		<li>The subject/subjects the candidate will be teaching</li>
		<li>Years of classroom experience needed (minimum)</li>
		<li>Education level required (i.e. bachelors, masters, etc.)</li>
		<li>Credentials required (including any special credentials)</li>
		<li>Description of the candidate’s responsibilities</li>
		<li>Language needs (if any)</li>
		<li>Teacher training programs preferred (if any)</li>
		<li>Any additional requirements (e.g. short essay response, letter of recommendation, etc).</li>
	</ul>
</p>
</div>

<div class="item">
<p>
	<strong>Q: If I receive an applicant but I believe they are not qualified for the position, how do I inform them?</strong><br/>
	A: From your “Applicant List” or from the candidate’s profile, click “Remove” and the applicant will receive our preformatted rejection notice. 
</p>
	
<p>	
	<strong>Q: How do I review applicants that have applied to my job posting(s)?</strong><br/>
	A: On the “My Jobs” page, you will note the total number of applicants to each job, as well as the number of new applicants that have applied since your last review. By clicking either of these options, you will be forwarded to the applicant listing for the particular position you have requested. 
</p>

<p>
	<strong>Q: How do I make changes to my job posting(s)?</strong><br/>
	A: On the “My Jobs” page, click “Edit Posting” under the job that you would like to change.
</p>

<p>
	<strong>Q:  Can I remove a job posting once it has been filled?</strong><br/>
	A: Yes. On the “My Jobs” page, click “Edit Posting” for the job you would like to delete. At the bottom of the page, you have two options to remove the job from our list of active postings:<br/>
	•	By un-checking “Active,” you will make the job posting inactive, preventing any further applications. However, you will save the posting for re-activation later should your needs change.<br/> 
	•	Clicking “Delete Posting” will permanently delete the posting from the site. Please note that this action cannot be undone. 
</p>

<p>	
	<strong>Q: How do I create a school profile?</strong><br/>
	A: Simply click on “My Schools” on the top of your webpage and click on “Add School.” You will be taken to a "New School" page where you can input all the pertinent information to advertise your campus. Once you have entered all applicable information, select "Create School" at the bottom of the page.
</p>

<p>
	<strong>Q: How do I prevent personal information from being displayed when applicants view my school profile(s) and job posting(s)?</strong><br/>
	A:  We do not display any personal information on Job Postings. To prevent your contact information from being shared on school profile pages, scroll to the bottom of the “Edit Profile” page and UNCHECK “Show Personal Information.” 
</p>

<p>
	<strong>Q: How many pictures can I upload to each school profile?</strong><br/>
	A: Currently, you may upload one photo per school profile. We will increase this limit in the future. 
</p>

<p>
	<strong>Q: What image formats (types) may I upload as a profile picture?</strong><br/>
	A: We accept all image formats, as long as they do not exceed the file size limit. 
</p>

<p>
	<strong>Q: What is the file size limit for my school picture?</strong><br/>
	A: Currently, the size limit on image uploads is 2MB per image.  
</p>

<p>
	<strong>Q: How do I reset my password?</strong><br/>
	A: Click “Account Settings” at the top-right of your screen. Here, you can change your password. Note: You will need to know your current password in order to make this change. If you do not know your current password, please contact our Help Desk. 
</p>
</div>
</div>