<div id="wrapper_global">
<h1 class="green">FAQ: Schools</h1>

<div id="sidebar" class="job_browser">
	<h4>FAQ</h4>
	<%= link_to "Teachers FAQ Page", teachers_faq_path %>
</div>

<div id="content">
	
<p style="font-size:20px"><strong><u>School Profile</u></strong></p>

<div class="item">

<p>	
	<strong>Q: How do I create a school profile?</strong><br/>
	A: Simply click on “My Schools” on the top of your webpage and click on “Add School.” You will be taken to a "New School" page where you can input all the pertinent information to advertise your campus. Once you have entered all applicable information, select "Create School" at the bottom of the page.
</p>

<p>	
	<strong>Q: How do I edit a school profile?</strong><br/>
	A: Click “My Schools” and select “Edit Profile” for whichever school profile you want to change. 
</p>

<p>
	<strong>Q: How do I prevent personal information from being displayed when applicants view my school profile(s) and job posting(s)?</strong><br/>
	A:  We do not display any personal information on Job Postings. To prevent your contact information from being shared on school profile pages, scroll to the bottom of the “Edit Profile” page and UNCHECK “Show Personal Information.” 
</p>

<p>
	<strong>Q: How many pictures can I upload to each school profile?</strong><br/>
	A: Currently, you may upload one photo per school profile. We will increase this limit in the future. 
</p>

<p>
	<strong>Q: What is the file size limit for my school picture?</strong><br/>
	A: 2 megabytes (MB)   
</p>

<p>
	<strong>Q: What format does my image need to be in order for it to successfully upload?</strong><br/>
	A: We accept all image formats, as long as it does not exceed the file size limit. 
</p>

</div>

<p style="font-size:20px"><strong><u>Job Posting</u></strong></p>

<div class="item">
	
<p>
	<strong>Q: How do I post a job?</strong><br/>
	A: Click on “Post New Job” from your “Home” page or from your “My Jobs” page.
	<a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=4e7a1dd7" rel="shadowbox;height=500;width=840"><%= image_tag "watch_video.png", :border => 0 %></a> 
</p>

</div>

<div class="item_list">
<p>
	<strong>Q: What should my job description include?</strong><br/>
	A: We use your job description as the basis of our applicant matching system. Therefore, it is key that you include as much information about the job as possible to save the most time when reviewing applicants. We would suggest including the following:<br/> 
	
	<ul>
		<li>The subject/subjects the candidate will be teaching</li>
		<li>Years of classroom experience needed (minimum)</li>
		<li>Education level required (e.g. bachelors, masters, etc.)</li>
		<li>Credentials required (including any special credentials)</li>
		<li>Description of the candidate’s responsibilities</li>
		<li>Language needs (if any)</li>
		<li>Teacher training programs preferred (if any)</li>
		<li>Any additional requirements (e.g. short essay response, letter of recommendation, etc).</li>
		<li>Clear application instructions (e.g. List the items you want candidates to attach to their DemoLesson profile) </li>
	</ul>
</p>
</div>

<div class="item_list">
<p>
	<strong>Q: What items should I require candidates to include on their DemoLesson profile?</strong><br/>
	A: This is completely up to your discretion; however, we do recommend that you copy and paste the following application instructions in your job posting:<br/>
	Please upload the following documents to your profile:<br/> 
	
	<ol>
		<li>Cover Letter</li>
		<li>Resume</li>
		<li>10-15 minute video-recorded lesson </li>
		<li>Lesson plan </li>
	</ol>
</p>
</div>

<div class="item">
<p>
	<strong>Q: How do I make changes to my job posting(s)?</strong><br/>
	A: On the “My Jobs” page, click “Edit Posting” under the job that you would like to change.
</p>
</div>

<div class="item_list">
<p>
	<strong>Q: How do I remove a job posting once it has been filled?</strong><br/>
	A: On the “My Jobs” page, click “Edit Posting” for the job you would like to delete. At the bottom of the page, you have two options to remove the job from our list of active postings:<br/>
	<ul>
		<li>By un-checking “Active,” you will make the job posting inactive, preventing any further applications. However, you will save the posting for re-activation later should your needs change.</li> 
		<li>Clicking “Delete Posting” will permanently delete the posting from the site. Please note that this action cannot be undone.</li>
	</ul>
</p>
</div>

<p style="font-size:20px"><strong><u>Applicants</u></strong></p>

<div class="item">

<p>	
	<strong>Q: How do I review applicants that have applied to my job posting(s)?</strong><br/>
	A: On the “My Jobs” page, both the total number of applicants and the number of new applicants will be listed under each job posting. By clicking either of these options, you will be directed to the page that lists all applicants for that position.<br/>

	<a href="http://cdn.static.viddler.com/flash/as3/mini-publisher.swf?key=49e76f5e" rel="shadowbox;height=500;width=840"><%= image_tag "watch_video.png", :border => 0 %></a> 
</p>

<p>
	<strong>Q: What is the video snippet?</strong><br/>
	A: Teachers are given the option to select a 30-second snippet of their full length video on their profile that you can review before deciding to visit their profile. Not all teachers create this 30-second snippet, so if it is not listed under their name on the applicant page, they opted not to do this.  
</p>

<p>
	<strong>Q: How do I schedule an interview with applicants?</strong><br/>
	A: On the “My Jobs” page, click on “Applicants,” and you will be directed to the “My Applicants” page. From there you can schedule interviews with individual candidates.  
</p>

<p>
	<strong>Q: How do I know if the candidate has received my interview request?</strong><br/>
	A: Once you send an interview request to an applicant, they will receive it in their DemoLesson inbox, as well as in their external email inbox. The applicant will reply to your interview request with the best day and time that works for them and you will in turn receive their response in both your DemoLesson inbox and external email inbox. If you do not receive a response from a candidate, then that means she or he has not responded to the interview request and you may want to follow up with a message.
</p>

<p>
	<strong>Q: How do I remove applicants from my pool of candidates? </strong><br/>
	A: On the “My Jobs” page, click on “Applicants,” and you will be directed to the “My Applicants” page. From there you can remove applicants. You can also remove applicants by clicking the “Remove” button on the teacher profile. 
</p>

</div>

<p style="font-size:20px"><strong><u>Account Settings</u></strong></p>

<div class="item">

<p>
	<strong>Q: How do I reset my password?</strong><br/>
	A: Click “Account Settings” at the top-right of your screen. Here, you can change your password. Note: You will need to know your current password in order to make this change. If you do not know your current password, please contact support@demolesson.com. 
</p>

<p>
	<strong>Q: How do I reset my email?</strong><br/>
	A: Click “Account Settings” at the top-right of your screen. Here, you can change your email address. Note: You will need to know your current password in order to make this change. If you do not know your current password, please contact support@demolesson.com. 
</p>

<p>
	<strong>Q: I want my colleagues to be able to access our organization’s DemoLesson account, create school profiles, post jobs, and/or review applicants? How do I give them access?</strong><br/>
	A: In order to set-up a multiple admin account with DemoLesson, you will need to contact the DemoLesson representative that set your account up for you. This person will be able to add additional administrator logins to your account. However, if you already have a multiple admin account set-up, the first thing you want to do is click on the “Manage Accounts” link in the upper-right hand corner of your webpage. Under “Members,” click “Add Member,” and then fill in that person’s information. If you want that person to have limited access to only certain school profiles and job postings, then select “Limited” as the “User Type,” and proceed to check the boxes next to the school names they will be accessing. If you want that person to have full access to all school profiles and job postings, then select “Full admin” as the “User Type.”
</p>

</div>
</div>
</div>