<div id="wrapper_global">
	<h1>Upstart LA Pitch Video</h1>
	<div id="video" style="margin-left: 180px">
		<object width="545" height="429" id="viddlerOuter-386968dc" type="application/x-shockwave-flash" data="//www.viddler.com/mini/51c6e62c/0/72028803"> <param name="movie" value="//www.viddler.com/mini/51c6e62c/0/72028803"> <param name="allowScriptAccess" value="always"><param name="allowNetworking" value="all"><param name="allowFullScreen" value="true"><param name="flashVars" value="f=1&autoplay=f&disablebranding=1&loop=0&hd=0"></object>
	</div>
</div>