
a landing page which provides a form for a user to sign up (by inputting an email address to be sent to the signup page), as well as links to the about us page and the signin page
a signup page which allows a user to sign up as either a teacher or school administrator by providing a name, email address, type (teacher or school), and password; upon successful signup, an email to be sent to the user asking them to validate and the user shall be directed to the teacher dashboard page (if a teacher) or school dashboard page (if school administrator)
a signup confirmation page, where the user can validate their email address using the code provided in the email
a forgot password page, where the user may reset their password by entering their email address
a signin page, where an existing user may sign in; upon successful signin, the user shall be directed to the teacher dashboard page (if a teacher) or school dashboard page (if school administrator); this page shall also link to the forgot password page
a teacher dashboard page, which links to the teacher edit information page, the signout page, the search jobs page, and the teacher board display page
a school dashboard page, which links to the school edit information page, the signout page, and the search teachers page
a signout page, which redirects to the landing page; upon going to this page, the user shall be signed out before being redirected
a teacher edit information page; this page shall allow the teacher to edit their own information:
set their name
set whether or not they are willing to move
set whether or not they are actively seeking a position
add a teaching credential by entering the name of the credential
remove an existing teaching credential they had previously entered
add a grade they are able to teach by selecting the name of the grade from a drop-down containing a list of grades
remove an existing grade they had previously entered
Assuming the user has validated their email address, the teacher may also:
set their location by entering free-form text
upload a resume file (replacing their existing resume, if any)
remove their existing resume file
upload a video by entering a name and uploading a file
remove an existing video they had previously uploaded
Upon entering a location, the approximate corresponding longitude and latitude shall be determined and stored for the teacher.
a school edit information page; this page shall allow the school to edit its own information:
set the school name
set the school location by entering free-form text
link to the add job page
list the current jobs they have listed; each shall link to the edit job page for that job and the close job page for that job
Upon entering a location, the approximate corresponding longitude and latitude shall be determined and stored for the school.
a list jobs page, which shall list all open jobs for that school; if the currently logged-in user is the administrator for this school, each listed job will also link to edit that job and a link to close that job
an add job page, where a school may add a job they are looking to hire for by entering:
a job title
a description of the job available (in free-form text)
the grade to be taught
a salary (free-form text, optional)
After entering valid job information, the user is directed to the edit job page for that job
an edit job page, displaying a form where a school may edit the information for a job:
a job title
a description of the job available (in free-form text)
the grade to be taught
a salary (free-form text, optional)
The page shall also allow the current user to add permitted reviewers by entering their email address; if the address does not belong to a current user, one will be created and emailed.
The page shall also allow the current user to add permitted reviewers by selecting from a drop-down box of names and email addresses of all users who have reviewed for this school in the past.
The page shall also list the users who are currently permitted to review applications for this job; each shall also have a  link to remove the user from the permitted users.
The page shall also list the applicants for this job; each shall link to the review applicant page for that applicant and job, as well as ratings from any reviewers who have reviewed that applicant.
a review applicant page; this page shall take a job id and applicant id and (if the current user is permitted to review the applicant) show the teacher profile information as well as allow the user to edit their rating (yes/no/maybe) and comments (free text field) for this applicant in this job
a search jobs page; this page shall allow the user to enter a location, distance, and grade; when the search button is pressed, the location, distance, and grade shall be passed to the search jobs results page
a search jobs results page; this page shall take a location, distance and grade and display a list of all open jobs with that grade selected and at a school within that distance of the location; each job shall list a link to the job info page
a job info page; this page shall take a job id and display information for that job; specifically, it shall include:
the job title
the description of the job
the grade to be taught
a salary (if present)
the school name
the school location
It shall also provide a link to the apply for job page for that job.
an apply for job page; this page shall take a job id and mark that the current teacher user is now applying for this job; it shall also email all reviewers for this job to notify them that a teacher has applied for the job
a search teachers page; this page shall allow the user to enter a location, distance, and grade; when the search button is pressed, the location, distance, and grade shall be passed to the search teachers results page
a search teachers results page; this page shall take a location, distance, and grade and display a list of all teachers marked as actively seeking a position, within that distance of that location and with that grade selected; each teacher listed shall include a link to the teacher profile page for that teacher
a teacher profile page; this page shall take a teacher id and display information for that teacher; specifically, it shall include:
the teacher's name
the teacher's location
whether the teacher is willing to relocate
a link to the teacher's resume
a list of grades the teacher has entered as able to teach
a list of credentials the teacher has entered
a list of videos the teacher has uploaded
After clicking on a listed video, the user shall be shown the uploaded video.
It shall also provide a link to contact that teacher
a contact teacher page; this page shall take a teacher id and email content; upon submission, it shall email the teacher with the content and providing them the return address of the current user
a view open applications page; this page shall display all the jobs the current user is applying for; it shall also include a link to allow the user to mark that they are no longer applying for this job


