<div id="wrapper_global" class="events-wrapper">

	<h1>Editing event</h1>

	<% if self.current_user.is_admin %>
		<%= render 'form' %>
	<% else %>
		<p>You must be an administration to edit an event.</p>
	<% end %>

</div>
