@import "vars";
@import "mixins";

* {
	margin: 0; padding: 0;
}

.shift {
	margin-top: 120px;
}
html, body {
	height: 100%;
	width: 100%;
}

body {
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url(image_path('tioki/subtle_dots.png'));
	color: $dkgray;
}

a {
	text-decoration: none;
}

article, aside, figure, footer, header, nav, section {
	display: block;
}

.clearfloat {
	clear: both;
}

/*** FONTS ***/

h1, h2, h3, h4, h5, h6 {
	font-family: $oswald;
	font-weight: normal;
	margin: 1em 0;
}

h1 {
	font-size: 32px;
	color: #000;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

p {
	margin: 1em 0;
	a {
		color: $salmon;
		&:active, &:visited {
			color: $salmon;
		}
		&:hover {
			color: lighten( $salmon,12% );
		}
	}
}

.bold {
	font-weight: bold;
}

.green {
	color: $green;
}

/*** END FONTS ***/

/*** FORMS ***/

fieldset {
	margin: 0 8px 8px 0;
	border: none;
}

label {
	display: block;
	font-weight: bold;
}

input[type="text"] {
	font: 14px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $dkgray;
	width: 250px;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid transparent;
}

input[type="email"] {
	font: 14px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $dkgray;
	width: 200px;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid transparent;
}

input[type="password"] {
	font: 14px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $dkgray;
	width: 200px;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid transparent;
}

input[type="submit"] {
	font: 14px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 6px 15px;
	//line-height: 1;
	border: 1px solid transparent;
	background-color: $salmon;
	color: #fff;
	cursor: pointer;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="textarea"]:focus, input[type="radio"]:focus {
	outline: none !important;
	border: 1px solid $salmon !important;
}

input[type="text"], input[type="email"], input[type="password"], input[type="textarea"], input[type="submit"]  {
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;
	border: 1px solid $ltgray;
	/* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}

.button {
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;
	border: 1px solid transparent;
	&:hover {
		color: #000 !important;
	}
}

.huge-button {
	width: 300px;
	font: 22px/1.6 $oswald !important;
}

/*** END FORMS ***/

/*** LISTS ***/

ul {
	margin: 1em;
}

/*** LISTS ***/

#page-wrapper {
	min-height: 100%;
	position: relative;
	
}

#main-content {
	padding-bottom: 230px; 
}

.wrapper {
	width: 100%;
	min-width: 1020px;
}

.inner-content {
	width: 960px;
	position: relative;
	padding: 0 30px;
	margin: 0 auto;
}

#login-drawer {
	position: relative;
	margin-top: -60px;
	height: 60px;
	background: $ltgray;
	.drawer-wrapper {
		position: relative;
		padding: 15px 0 0 0;
		#close-drawer {
			position: absolute;
			display: block;
			width: 26px;
			height: 26px;
			right: 30px;
			top: 17px;
			overflow: hidden;
			text-align: left;
			text-indent: -9999em;
			background: url(image_path('tioki/icons/close.png')) no-repeat;
			cursor: pointer; 
		}
		#login-form {
			position: absolute;
			left: 150px;
			fieldset {
				display: inline-block;
			}
			.forgot-password {
				padding: 6px 10px;
			}
			a.forgot-password {
				color: $salmon;
				&:hover {
					color: lighten( $salmon,12% );
				}
			}			
		}
	}
}

.login-header {
	position: relative;
	z-index: 9999;
	height: 60px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.3);
	header {
		.logo {
			position: absolute;
			top: 10px;
			left: 30px;
			width: 77px;
			height: 41px;
			overflow: hidden;
			text-align: left;
			text-indent: -9999em;
			background: url(image_path('tioki/tioki-logo.png')) no-repeat;
		}
		#drawer-handle {
			position: absolute;
			top: 17px;
			right: 30px;
			padding: 6px 15px;
			background: $ltgray;
			color: #fff;
			cursor: pointer;
			&:hover {
			color: $dkgray;
			}
		}
	}
}

/*** SLIDER ***/


#featured {
	width: 1020px;
	height: 525px;
	background: #000 url(image_path('tioki/icons/loading.gif')) no-repeat center center; 
	overflow: hidden;
	-moz-box-shadow: 2px 2px 4px #999;
	-webkit-box-shadow: 2px 2px 4px #999;
	box-shadow: 2px 2px 4px #999;
}

#featured>img,  
#featured>div,
#featured>a { display: none; }



/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 1020px;
    height: 525px;
    position: relative; }

div.orbit {
    width: 1020px;
    height: 525px;
    position: relative;
    overflow: hidden }
    
div.orbit.with-bullets {
    margin-bottom: 40px; }

div.orbit .orbit-slide {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

div.orbit a.orbit-slide {
    border: none;
    line-height: 0; 
    display: none; }

div.orbit div.orbit-slide {
    width: 100%;
    height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */

/* CAPTIONS
   ================================================== */

.orbit-caption {
	display: none;
}
	
.orbit-wrapper .orbit-caption {
    z-index: 30;
    position: absolute;
    width: 1020px;
    height: 525px;
    top: 0;
}


/* DIRECTIONAL NAV
   ================================================== */

div.orbit-wrapper div.slider-nav {
    display: block }

div.orbit-wrapper div.slider-nav span {
    width: 38px;
    height: 55px;
    text-indent: -9999px;
    position: absolute;
    z-index: 30;
    top: 15px;
    cursor: pointer; }

div.orbit-wrapper div.slider-nav span.right {
    background: url(image_path('tioki/icons/slide-next-hover.png')) no-repeat 25px 100px;
    cursor: pointer;
	position: absolute;
	top: 142px;
	right: 0;
	width: 22px;
	height: 42px;
	padding: 100px 25px;
	overflow: hidden;
	opacity: 0.25;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition:    opacity 0.3s;
	-o-transition:      opacity 0.3s;
	}

div.orbit-wrapper div.slider-nav span.right:hover {
		opacity: 1.0;
}

div.orbit-wrapper div.slider-nav span.left {
    background: url(image_path('tioki/icons/slide-previous-hover.png')) 25px 100px no-repeat;
    top: 142px;
	left: 0;
	width: 22px;
	height: 42px;
	padding: 100px 25px;
	overflow: hidden;
	opacity: 0.25;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition:    opacity 0.3s;
	-o-transition:      opacity 0.3s;
}
	
div.orbit-wrapper div.slider-nav span.left:hover {
    opacity: 1.0;
}




.features-slider {
	position: relative;
	width: 1020px;
	height: 525px;
	margin: 0 auto;
	overflow: hidden;  // TOGGLE THIS FOR TESTING
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 2px 2px rgba(0, 0, 0, 0.3);
	.orbit-caption {
		h1, h2 {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			color: #000;
			text-align: center;
			margin: 0;
			line-height: 1.2;
		}
		h1 {
			font-size: 42px;
		}
		h2 {
			font-size: 22px;
			margin-bottom: 15px;
		}
		p {
			color: #000;
			text-transform: lowercase;
			font-size: 26px;
			text-align: center;
			margin: 0;
		}	
		.signup-form {
			position: absolute;
			width: 300px;
			padding: 20px 30px;
			top: 80px;
			right:80px;
			background: rgba(255, 255, 255, 0.9);
			#signup-form {
				fieldset {
					display: inline-block;
					margin: 0 6px 12px 0;
					input[type="email"] {
						width: 274px;
						padding: 6px 12px;
						border: none;
						background-color: #fff;
						border: 1px solid transparent;
					}
					
					input[type="password"] {
						width: 119px;
						padding: 6px 12px;
						border: none;
						background-color: #fff;
						border: 1px solid transparent;
					}
				}
				#confirmpwd {
					margin-right: 0;
				}
				.smalltext {
					font-size: 12px;
					margin: 0 0 10px 0;
					text-align: left;
					text-transform: none;
				}
			}
			.facepile {
				margin: 15px 0;
				width: 300px;
				height: 75px;
				background-color: #fff;
			}
		}
		.featured-quote {
			position: absolute;
			bottom: 60px;
			left: 65px;
			width: 425px;
			blockquote {
				font: 32px/1.4 $oswald;
				color: #fff;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
			}
		}
		.featured-box {
			position: absolute;
			width: 500px;
			padding: 20px 30px;
			top: 100px;
			background: rgba(255, 255, 255, 0.8);
		}
		.featured-box-right {
			right: 80px;
		}
		.featured-box-left {
			left: 70px;
		}
		.box-divider {
			width: 75%;
			height: 5px;
			border-bottom: 1px solid #000;
			margin: 25px auto 30px auto;
		}
		a {
			&.goto-signup {
				display: block;
				float: right;
				width: 130px;
				text-align: center;
				color: #fff;
				padding: 4px 0;
				background-color: $salmon;
				font: 18px/1.6 $oswald;
				-moz-border-radius: 	3px;
				-webkit-border-radius: 	3px;
				border-radius: 			3px;
				border: 1px solid transparent;
				&:hover {
					color: #000 !important;
				}
				margin: 20px;
			}
			
		}
	}
}

/*** END SLIDER ***/

.press {
	h1 {
		font: 36px $oswald;
		margin: 30px 0;
		color: #000;
	}
	.featured-thumb {
		float: left;
		width: 150px;
		height: 150px;
		margin: 0 52px 52px 0;
		-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		-moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.3);
		box-shadow:         2px 2px 2px rgba(0, 0, 0, 0.3);
	}
	.last-thumb {
		margin-right: 0;
	}
}

.footer-wrapper {
	height: 230px;
	position: absolute;
	bottom: 0;
	background: $ltgray;
	-webkit-box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px -2px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         0px -2px 2px rgba(0, 0, 0, 0.3);
	footer {
		padding-top: 15px;
		padding-bottom: 15px;
		text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
		nav {
			.footer-section {
				float: left;
				width: 150px;
				margin: 0 52px 0 0;
				p {
					margin: 0 0 7px 0;
				}
				ul {
					margin: 0;
					list-style-type: none;
					li {
						padding: 4px 0;
						a {
							color: $dkgray;
							&:visited {
								color: $dkgray;
							}
							&:hover {
								color: lighten( $dkgray,12% );
							}
							&.twitter-icon {
								display: inline-block;
								width: 38px;
								height: 38px;
								text-indent: -9999em;
								text-align: left;
								overflow: hidden;
								background: url(image_path('tioki/icons/twitter.png')) no-repeat;
							}
							&.facebook-icon {
								display: inline-block;
								width: 38px;
								height: 38px;
								text-indent: -9999em;
								text-align: left;
								overflow: hidden;
								background: url(image_path('tioki/icons/facebook.png')) no-repeat;
							}
							&.blog-icon {
								display: inline-block;
								width: 38px;
								height: 38px;
								text-indent: -9999em;
								text-align: left;
								overflow: hidden;
								background: url(image_path('tioki/icons/blog.png')) no-repeat;
							}
						}
					}
					&.social-icons {
						li {
							display: inline-block;
							margin: 3px 4px 0 0;
						}
					}
					
				}
				
			}
			.last-footer-section {
				margin-right: 0;
				a.refer-button {
					display: block;
					margin: 32px 0 0 0;
					width: 150px;
					padding: 8px 0;
					background: $green;
					color: #fff;
					font: 16px/1.2 $oswald;
					text-align: center;
					text-shadow: none;
				}
			}
		}
		.copyright {
			margin: 20px 0 0 0;
			text-align: center;
		}
	}
}

/*** Static Pages ***/

.signup-page {
	input[type="text"], input[type="email"], input[type="password"]  {
		width: 276px;
		padding: 10px 12px;
		margin: 2px 0;
	}

}

.static-page {
	padding-top: 40px;
	.sidebar {
		float: left;
		width: 210px;
		ul {
			list-style-type: none;
			margin: 0 0 35px -30px;
			li {
				position: relative;
				height: 22px;
				padding: 6px 0 6px 30px;
				margin: 0 0 5px 0;
				font: 18px/1.2 $oswald;
				a {
					color: $dkgray;
					&:hover {
						color: lighten( $dkgray,12% );	
					}
				}
				&.current {
					color: #fff;
					background: $salmon;
					&:after {
						position: absolute;
						right: -17px;
						top:0px;
						content: " ";
						border-top: 17px solid transparent;
						border-bottom: 17px solid transparent;
						border-left: 17px solid $salmon;
					}
				}
			}
		}
	}
	.static-content {
		position: relative;
		float: right;
		width: 600px;
		border-top: 2px dashed $salmon;
		padding: 0 30px 30px 0;
		h1 {
			font-size: 32px;
			color: #000;
			margin-bottom: 30px;
		}
		article, section {
			margin-bottom: 40px;
			.copy {
				display: inline-block;
				vertical-align: top;
				width: 350px;
				p {
					text-align: justify;
					&.heading {
						margin: 0 0 4px 0;
						text-transform: uppercase;
						font-weight: bold;
						text-align: left;
					}
				}
				.profilelink {
					display: block;
					margin-top: 4px;
					text-align: right;
				} 
			} 
			.pic {
				display: inline-block;
				background: #fff;
				vertical-align: top;
				width: 200px;
				height: 133px;
				overflow: hidden;
				-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
				-moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.3);
				box-shadow:         2px 2px 2px rgba(0, 0, 0, 0.3);
				img {
					max-width: 100%;
					height: auto;
				}
			}
			.leftside {
				margin-right: 40px;
			}
			.rightside {
				margin-left: 40px;
			}
		}
		.map {
			position: absolute;
			top: 185px;
			right: 10px;
		}
	}
	.howitworks, .whatis {
		p {
			margin-bottom: 15px;
			font-size: 16px;
			line-height: 1.4;
			text-align: justify;
		}
	}
	.press-page {
		article {
			.pic {
				width: 150px;
				height: 150px;
			}
			.copy {
				width: 400px;
				.date {
					font-style: italic;
					font-size: 12px;
					color: $green;
					margin-bottom: 4px;
					margin-top: 0;
				}
			}
		}
	}
	.ourteam-page {
		section {
			.heading {
				font-size: 16px;
			}
			.pic {
				width: 150px;
				height: 200px;
			}
			.sociallink {
				display: inline-block;
				padding: 4px 0 0 0;
				&:after {
					content: ".";
				}
				&:last-child {
					&:after {
						content: " ";
					}
				}
			}
		}
	}
	.resources {
		li {
			margin-bottom: 0.5em;
		}
		nav {
			ul {
				margin: 0;
				li {
					position: relative;
					color: $dkgray;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: bold;
					display: inline-block;
					padding: 4px 0;
					margin: 0 30px 30px 0;
					&.current {
						border-bottom: 2px solid $salmon;
					}
					a {
						color: $dkgray;
						&:active, &:visited {
							color: $dkgray;
						}
						&:hover {
							color: lighten( $dkgray,12% );
						}
					}
				}
			}
			&.faq-choice {
				ul {
					li {
						font-size: 14px;
						text-transform: capitalize;
						&.current {
							border-color: $green;
						}
					}
				}
			}
		}
		section, article {
			p {
				text-align: justify;
			}
		}
		article {
			margin: 15px 0;
			a {
				color: $green;
				&:hover {
					color: lighten( $green,12% );
				}
			}
		}
		a {
			&.back {
				display: block;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
				margin-bottom: 15px;
				&:hover {
					text-decoration: underline;
				}
			}	
		}
		.question {
			color: $green;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
		.answer {
			margin-bottom: 1.5em;
		}
		.contactinfo {
			margin-bottom: 30px;
			p {
				font-size: 16px;
				&.heading {
					margin-bottom: 0;
					text-transform: uppercase;
					font-weight: bold;
				}
				&.info {
					margin-top: 0;
				}
			}
			ul {
				margin: 0;
				list-style-type: none;
				li {
					padding: 4px 0;
					a {
						color: $dkgray;
						&:visited {
							color: $dkgray;
						}
						&:hover {
							color: lighten( $dkgray,12% );
						}
						&.twitter-icon {
							display: inline-block;
							width: 38px;
							height: 38px;
							text-indent: -9999em;
							text-align: left;
							overflow: hidden;
							background: url(image_path('tioki/icons/twitter.png')) no-repeat;
						}
						&.facebook-icon {
							display: inline-block;
							width: 38px;
							height: 38px;
							text-indent: -9999em;
							text-align: left;
							overflow: hidden;
							background: url(image_path('tioki/icons/facebook.png')) no-repeat;
						}
						&.blog-icon {
							display: inline-block;
							width: 38px;
							height: 38px;
							text-indent: -9999em;
							text-align: left;
							overflow: hidden;
							background: url(image_path('tioki/icons/blog.png')) no-repeat;
						}
					}
				}
				&.social-icons {
					li {
						display: inline-block;
						margin: 3px 4px 0 0;
					}
				}
				
			}
		}
		
	}
}