<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li class="current">
				How it Works
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Teacher Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content howitworks">
		<h1>
		How it Works
		</h1>
		<article>
			<div class="copy">
				<p class="heading">
				Build your Tioki card
				</p>
				<p>
				Take advantage of our distinct profile features, like video, document upload, and specialized skills tags to create a professional profile that is specifically designed for educators.
				</p>
			</div>
			<div class="pic rightside">
				<img src="/assets/tioki/howitworks/thumb_hiw_1.png" />
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/howitworks/thumb_hiw_2.png" />
			</div>
			<div class="copy">
				<p class="heading">
				Make meaningful connections
				</p>
				<p>
				Connect with others who share your skills and interests, meet new educators you can learn from, or join the network of influential educators that can help advance your career.
				</p>
			</div>
		</article>
		<article>
			<div class="copy">
				<p class="heading">
				Promote your talents
				</p>
				<p>
				The DemoLesson Card is the best way to showcase your talents &amp; experiences as an educator. Tutors can send it to parents, teachers can share it with schools and parents, and professors can give universities and students access to theirs. The choice of how you use your Card is up to you! <a href="../signup.html">Try It Out</a>
				</p>
			</div>
			<div class="pic rightside">
				<img src="/assets/tioki/howitworks/thumb_hiw_3.png" />
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/howitworks/thumb_hiw_4.png" />
			</div>
			<div class="copy">
				<p class="heading">
				Attend education events
				</p>
				<p>
				The DemoLesson Calendar houses a comprehensive list of virtual, in-person, regional, and national events that are specific to the education community. You can search by date, location, host organization, topic, and countless other criteria.
				</p>
			</div>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->