<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li class="current">
				Our Customers
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Teacher Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content">
		<h1>
		Our Customers
		</h1>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/oakland.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Oakland Unified School District
				</p>
				<p>
				Oakland is the Capital of the East Bay; the foundation of movements, the hub of transportation, and in many ways a testing ground of the future United States of America (engaged politics, relations across race, class, and language, public safety, sustainable economy, shipping, and education). <a href="../schools/ousd.html" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/harlemvillage.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Harlem Village Academies
				</p>
				<p>
				Harlem Village Academies aims for a higher standard: students who think critically, argue passionately, and take ownership of their learning. They believe it is essential that students become fiercely independent and sophisticated thinkers, coherent writers, confident speakers, and avid readers. <a href="#" class="profilelink">View Profile</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/lead_ps.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Leadership Public Schools
				</p>
				<p>
				Leadership Public Schools ("LPS") is a not-for-profit organization founded in 2002 to serve a diverse student body throughout the Bay Area. The LPS network of outstanding public charter high schools are located in Richmond, Oakland (College Park), Hayward, and San Jose and serve over 1,500 students. <a href="../schools/ousd.html" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/equitas.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Equitas Academy
				</p>
				<p>
				Equitas Academy Charter School is a free public elementary school for parents who believe their child deserves a high-quality education and challenging school experience. Our school model offers: credentialed, passionate and dedicated teachers and staff who are experts in their field. <a href="#" class="profilelink">View Profile</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/friendship.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Friendship Public Charter School
				</p>
				<p>
				Friendship Public Charter School operates six public charter schools and, in partnership with Baltimore City and District of Columbia Public Schools, manages four turnaround schools, serving nearly 8000 students from pre-school (three years old) to 12th grade. <a href="../schools/ousd.html" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/almadelmar.png" />
			</div>
			<div class="copy">
				<p class="heading">
				Alma del Mar
				</p>
				<p>
				In August 2011, Alma del Mar opened its doors to 120 New Bedford scholars in kindergarten, first grade, and second grade. Over the next seven years, Alma del Mar will grow to serve 360 scholars in grades kindergarten through eight. <a href="../schools/ousd.html" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/teamcharter.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				TEAM Charter Schools
				</p>
				<p>
				As a member of the KIPP network of schools, TEAM Schools is a free, public charter school network that serves the students of Newark. TEAM Schools are among the highest performing urban middle, elementary and high schools in the country. <a href="#" class="profilelink">View Profile</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/puc.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Partnerships to Uplift Communities
				</p>
				<p>
				Partnerships to Uplift Communities (PUC) is a non-profit charter school management organization designed to significantly increase college entrance and graduation rates for underserved students in Los Angeles and the San Fernando Valley. <a href="../schools/ousd.html" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
	</section>
	<section class="static-content">
		<h1>
		Our Partnerships
		</h1>	
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/tfa.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Teach for America
				</p>
				<p>
				Teach for America recruits a diverse group of leaders with a record of achievement who work to expand educational opportunity, starting by teaching for two years in a low-income community. <a href="#" class="profilelink">Visit their site</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/lmu-la.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Loyola Marymount University
				</p>
				<p>
				Loyola Marymount University's fully accredited MA, credential, and certificate programs prepare aspiring educators to enter the field, and provide current educators with the skills they need to go forward in their careers. <a href="#" class="profilelink">Visit their site</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/pepperdine.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Pepperdine University
				</p>
				<p>
				The GSEP holds a unique leadership position in higher education through their unwavering commitments to academic excellence, the student experience, and community partnerships. <a href="#" class="profilelink">Visit their site</a>

				</p>
			</div>
		</article>
	</section>	
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->