<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li class="current">
				Press
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Teacher Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content press-page">
		<h1>
		Press
		</h1>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/edukwest.jpg" />
			</div>
			<div class="copy">
				<p class="date">
				July 10, 2012
				</p>
				<p class="heading">
				Empower teachers and streamline the hiring process with DemoLesson
				</p>
				<p>
				DemoLesson...has a twofold mission: to disrupt the hiring cycle in education, and to allow teachers to be proactive in their job search, showcasing their talents in a digital profile that goes above and beyond a traditional r&eacute;sum&eacute;. <a href="http://www.edukwest.com/empower-teachers-and-streamline-the-hiring-process-with-demolesson/" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/launchedu.png" />
			</div>
			<div class="copy">
				<p class="date">
				June 13, 2012
				</p>
				<p class="heading">
				DemoLesson presenting at LAUNCH Education &amp; Kids
				</p>
				<p>
				DemoLesson chosen from hundreds of education companies to be one of 30 companies presenting at the first LAUNCH Education &amp; Kids at Microsoft in Palo Alto, California.  <a href="http://www.launchedu.co/" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/edsurge.png" />
			</div>
			<div class="copy">
				<p class="date">
					May 30, 2012
				</p>
				<p class="heading">
				My $0.02 about Edtech
				</p>
				<p>
				All the tech in the world won't make a dent in student outcomes if teachers aren't involved. And nothing that these tools bring to the table diminishes the fact that great teachers are the number one factor in affecting student outcomes. <a href="https://www.edsurge.com/n/all-about-the-teacher" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/siia.jpg" />
			</div>
			<div class="copy">
				<p class="date">
				May 23, 2012
				</p>
				<p class="heading">
				Seismic changes in education (guest blog)
				</p>
				<p>
				From teacher accountability and superintendent turnover to funding and standards ? all areas across both K-12 and Higher Ed education are experiencing transformational changes in the culture of education. <a href="http://www.siia.net/blog/index.php/2012/05/ed-tech-industry-summit-guest-blog-seismic-changes-in-education/" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/teach.png" />
			</div>
			<div class="copy">
				<p class="date">
				May 17, 2012
				</p>
				<p class="heading">
				Filming lessons for certification
				</p>
				<p>
				Given all the changes to the teacher credentialing process, it will only be a matter of time before the bar is raised for all aspiring and current teachers to videorecord their lessons and demonstrate their talents in a classroom setting. <a href="http://teach.com/education-technology/filming-lessons-for-certification" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/nbc_latino.jpg" />
			</div>
			<div class="copy">
				<p class="date">
					May 11, 2012
				</p>
				<p class="heading">
				Online hiring platform helps teachers get a job
				</p>
				<p>
				Imagine you're a school looking to hire the best and brightest teacher you can. You look at two resumes side-by-side and the question is, who brings the most to the table as the best teacher of young children? <a href="http://nbclatino.tumblr.com/post/22841358821/linkedin-meets-youtube-online-hiring-platform-helps" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/TechCrunch.png" />
			</div>
			<div class="copy">
				<p class="date">
				May 6, 2012
				</p>
				<p class="heading">
				7 New educational startups founded by minorities in tech
				</p>
				<p>
				Millions of people are headed to the Internet to learn. And now everyone, from professors to entrepreneurs, are looking to launch a platform to solve the problem of a broken traditional educational system. <a href="http://techcrunch.com/2012/05/06/7-new-educational-startups-founded-by-minorities-in-tech/" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/teach.png" />
			</div>
			<div class="copy">
				<p class="date">
				April 15, 2012
				</p>
				<p class="heading">
				Get your teaching job
				</p>
				<p>
				Websites like Craigslist or Monster post a wide spectrum of available jobs...However, many niche databases lists jobs specifically in education and can be a wonderful resource for your job search. <a href="http://teach.com/how-to-become-a-teacher/get-your-teaching-job" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/startupweekend.png" />
			</div>
			<div class="copy">
				<p class="date">
				February 26, 2012
				</p>
				<p class="heading">
				Startup Weekend Alumni Panel
				</p>
				<p>
				DemoLesson, based in Los Angeles, launched as winners of the Startup Weekend EDU. A month after the event, cofounders Brian Martinez and Mandela Schumacher-Hodge made the leap to focus on DemoLesson full-time. <a href="http://sfedu.startupweekend.org/2012/02/26/startup-weekend-alum-panel-via-katrina-stevens/" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/press/mindshift.jpg" />
			</div>
			<div class="copy">
				<p class="date">
				June 6, 2011
				</p>
				<p class="heading">
				You have 54 hours: Quick, build an ed-tech startup!
				</p>
				<p>
				The first place winner of Startup Weekend Edu was Demo Lesson, a site where teachers can upload videos of themselves teaching in order to not just enhance their r&eacute;sum&eacute;, but also to give schools a better idea of how applicants function in the classroom. <a href="http://blogs.kqed.org/mindshift/2011/06/you-have-54-hours-quick-build-an-ed-tech-startup/#more-12304" target="_blank" class="profilelink">Read More</a>

				</p>
			</div>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->