<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li class="current">
				What is Tioki?
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Teacher Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content whatis">
		<h1>
		What is Tioki?
		</h1>
		<p>
		At Tioki, we give educators the freedom to market themselves like never before! We?ve utilized the best technology to create the most efficient, effective, and empowering hiring platform for educators.
		</p>
		<p>
		Your Tioki profile serves as your <span class="green bold">professional digital portfolio</span>. It provides a space for you to step off of the traditional r&eacute;sum&eacute; and showcase your talents and abilities to potential employers in a way you never could before.
		</p>
		<p>
		Use our advanced search database to search for <span class="green bold">the job of your dreams</span>. Our application tracking system allows you to track your position within the hiring process so that you are never in the dark again. You can even share your profile with schools outside of our network, further enhancing your ability to market yourself!
		</p>
	</section>	
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->