<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Teacher Resources
				</a>
			</li>
			<li class="current">
				Help and Support
			</li>
		</ul>
	</section>
	<section class="static-content resources contact">
		<h1>
		Help &amp; Support
		</h1>
		<nav>
			<ul>
				<li class="current">
					Contact
				</li>
				<li>
					<a href="/static/resources/terms">
					Terms of Service
					</a>
				</li>
				<li>
					<a href="/static/resources/privacy">
					Privacy
					</a>
				</li>
			</ul>
		</nav>
		<!--section class="contactinfo">
			<p class="heading">
			Phone
			</p>
			<p class="info">
			310.753.4346
			</p>
		</section-->
		<section class="contactinfo">
			<p class="heading">
			Email
			</p>
			<p class="info">
				<a href="mailto:support@demolesson.com">
				support@demolesson.com
				</a>
			</p>
		</section>
		<section class="contactinfo">
			<p class="heading">
			Press Inquiries
			</p>
			<p class="info">
				<a href="mailto:press@demolesson.com">
				press@demolesson.com
				</a>
			</p>
		</section>
		<section class="contactinfo">
			<p class="heading">
			Address
			</p>
			<p class="info">
			2201 Broadway,<br />
			Oakland, CA 94612
			</p>
		</section>
		<section class="footer-section contactinfo">
				<p class="heading">
				Connect With Us
				</p>
				<ul class="social-icons">
					<li>
						<a href="http://twitter.com/demolesson" target="_blank" class="twitter-icon">
						Twitter
						</a>
					</li>
					<li>
						<a href="http://www.facebook.com/demolesson" target="_blank" class="facebook-icon">
						Facebook
						</a>
					</li>
					<li>
						<a href="http://blog.demolesson.com/" target="_blank" class="blog-icon">
						Blog
						</a>
					</li>
				</ul>
		</section>
		<section class="map">
			<iframe width="300" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2201+Broadway,+Oakland,+CA&amp;aq=0&amp;oq=2201+broadw&amp;sll=37.870775,-122.30098&amp;sspn=0.081983,0.154324&amp;ie=UTF8&amp;hq=&amp;hnear=2201+Broadway,+Oakland,+California+94612&amp;t=m&amp;ll=37.811208,-122.267103&amp;spn=0.020343,0.032272&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2201+Broadway,+Oakland,+CA&amp;aq=0&amp;oq=2201+broadw&amp;sll=37.870775,-122.30098&amp;sspn=0.081983,0.154324&amp;ie=UTF8&amp;hq=&amp;hnear=2201+Broadway,+Oakland,+California+94612&amp;t=m&amp;ll=37.811208,-122.267103&amp;spn=0.020343,0.032272&amp;z=14&amp;iwloc=A" style="color:#F66C4C;text-align:right">View Larger Map</a></small>
		</section>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->