<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Teacher Resource Hub
			</a>
		</p>
		<h2>
		Example Resource Page
		</h2>
		<article>
			<p>
				<a href="#" target="_blank">
				Always Prepped
				</a>
			</p>
			<p>
			The easiest way to manage and analyze k-12 apps for teachers.
			</p>
		</article>
		<article> 
			<p>
				<a href="#" target="_blank">
				Duckie Deck
				</a>
			</p>
			<p>
			Great resource for very young learners to engage with analytical, social, and emotional learning.
			</p>
		</article>
		<article>
			<p>
				<a href="#" target="_blank">
				Gather Education
				</a>
			</p>
			<p>
			Creates a visual classroom that mirrors your physical movements as a 3D avatar.
			</p>
		</article>
		<article> 
			<p>
				<a href="#" target="_blank">
				Kno
				</a>
			</p>
			<p>
			Interactive textbooks and that include flash cards and other digital study materials.
			</p>
		</article><article>
			<p>
				<a href="#" target="_blank">
				SmallLab Learning
				</a>
			</p>
			<p>
			A number of high-tech devices that promote embodied learning.
			</p>
		</article>
		<article> 
			<p>
				<a href="#" target="_blank">
				Study Egg
				</a>
			</p>
			<p>
			Video Lessons that provide questions to help you master difficult subjects.  Great tool for flipped classrooms.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->