<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<h1>
		Teacher Resources
		</h1>
		<nav>
			<ul>
				<li>
					<a href="/static/resources/teacherresourcehub">
					Teacher Resource Hub
					</a>
				</li>
				<li>
					<a href="/static/resources/videosupport">
					Video Support
					</a>
				</li>
				<li class="current">
				FAQ
				</li>
			</ul>
		</nav>
		<nav class="faq-choice">
			<ul>
				
				<li>
					<a href="/static/resources/faq">
					Teachers FAQ
					</a>
				</li>
				<li class="current">
				Schools FAQ
				</li>
			</ul>
		</nav>
		<section>
			<h2>
			School Profile
			</h2>
			<p class="question">
			How do I create a school profile?
			</p>
			<p class="answer">
			Simply click on "My Schools" on the top of your webpage and click on "Add School." You will be taken to a "New School" page where you can input all the pertinent information to advertise your campus. Once you have entered all applicable information, select "Create School" at the bottom of the page.
			</p>
		</section>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->