<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<h1>
		Teacher Resources
		</h1>
		<nav>
			<ul>
				<li>
					<a href="/static/resources/teacherresourcehub">
					Teacher Resource Hub
					</a>
				</li>
				<li>
					<a href="/static/resources/videosupport">
					Video Support
					</a>
				</li>
				<li class="current">
				FAQ
				</li>
			</ul>
		</nav>
		<nav class="faq-choice">
			<ul>
				<li class="current">
				Teachers FAQ
				</li>
				<li>
					<a href="/static/resources/faq-schools">
					Schools FAQ
					</a>
				</li>
			</ul>
		</nav>
		<section>
			<h2>
			Profile Creation
			</h2>
			<p class="question">
			How do I Create/Edit my profile?
			</p>
			<p class="answer">
			Click on "Edit Profile" at the top-right of your screen from any page. Once on the "Edit Profile" page, feel free to take a look at our exemplar profile so you can see how your profile will appear once completed.
			</p>
			<p class="question">
			Can I complete part of my profile and work on the rest at a later time?
			</p>
			<p class="answer">
			Yes, you can save what you have worked on and continue at a later time. Remember, schools will not have access to your profile until you apply to their positions, so feel free to complete your profile over time.
			</p>
			<p class="question">
			How many pictures can I upload to my profile?
			</p>
			<p class="answer">
			Currently, you are allowed to upload one (1) picture to your profile. We plan to increase the number of photos you can upload to your profile in the near future.
			</p>
			<p class="question">
			What kind of picture should I upload to my profile?
			</p>
			<p class="answer">
			Most candidates upload a professional photo of themselves as their profile picture. Here are some suggestions of photos you can feel confident in uploading to your profile:
				<ul>
					<li>
					Professional Headshot (or other professional photo)
					</li>
					<li>
					Photo of your classroom environment
					</li>
					<li>
					Photo of yourself in the act of teaching
					</li>
				</ul>
			</p>
			<p class="question">
			How do I attach my resume or any other documents I wish to upload?
			</p>
			<p class="answer">
			Once you click on "Edit Profile" at the top right of your screen, choose "Attach New File" which you will find on the right side of your screen. Hover your mouse over suggested uploads to see the items we suggest you upload to market yourself better to schools.
			</p>
		</section>
		<section>
			<h2>
			Video Filming &amp; Uploading
			</h2>
			<p class="question">
			Can I use DemoLesson if I don't yet have a video recorded lesson?
			</p>
			<p class="answer">
			Yes, you can complete your entire DemoLesson profile and attach any documents you'd like, without having to upload a video. Some schools require a video up front and others do not. Always be sure to read the application instructions in the job description carefully.
			</p>
			<p class="question">
			How can I film a lesson if I do not have access to a classroom with students?
			</p>
			<p class="answer">
			That will not be a problem at all. Most teachers on DemoLesson do not have their own classrooms, yet they are all able to still create awesome videos that show off their teaching abilities. Visit the <a href="/static/resources/videosupport">Video Resources</a> page, which tells you exactly what to do in this situation.
			</p>
			<p class="question">
			I've never filmed myself teaching before. Where do I start?
			</p>
			<p class="answer">
			Everything you need to create a rockin' video is right here: <a href="/static/resources/videosupport">Video Resources</a>. From setting up the right camera angle to editing the best part of your video - we guide you through the entire process.
			</p>
			<p class="question">
			How do I upload a video?
			</p>
			<p class="answer">
			On the "Edit Profile" screen, choose "Upload Lesson Video" on the right side of your screen. After choosing a Name and Description of the video, select the file you would like to upload and click the "Upload Video" button. Please Note: Depending on the size of your video clip, uploading a video can take up to 15-minutes. If you experience any difficulties while uploading a video, please visit our Help Desk.
			</p>
			<p class="question">
			How many videos can I upload to my profile?
			</p>
			<p class="answer">
			Currently, you are allowed to upload one (1) video to your profile. We plan to increase the number of videos you can upload to your profile in the near future.
			</p>
			<p class="question">
			What video formats am I allowed to upload to my profile?
			</p>
			<p class="answer">
			We support these file formats: .avi .dv .mov .qt .mpg .mpg2 .mpeg2 .mpeg4 .mp4 .3gp .3g2 .asf .wmv .flv.
			</p>
			<p class="question">
			What programs can I use to edit my video before uploading?
			</p>
			<p class="answer">
			Windows Movie Maker and iMovie are some of many third-party programs you can use to edit your videos before uploading them to your profile. For more information, please visit the <a href="/static/resources/videosupport">Video Editing</a> Software page. Also, you can reference the help section of your video editing software as needed.
			</p>
		</section>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->