<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki.html">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks.html">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers.html">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press.html">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam.html">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub.html">
				Teacher Resources
				</a>
			</li>
			<li class="current">
				Help and Support
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<h1>
		Help &amp; Support
		</h1>
		<nav>
			<ul>
				<li>
					<a href="/static/resources/contactandsupport.html">
					Contact
					</a>
				</li>
				<li>
					<a href="/static/resources/terms.html">
					Terms of Service
					</a>
				</li>
				<li class="current">
					Privacy
				</li>
			</ul>
		</nav>
		<section>
			<h2>
			Privacy Policy
			</h2>
			<p>
			Please note that by using this website (the "Site") or the services provided by Demo Lesson, Inc. ("DLI"), you are accepting the practices described in this Privacy Policy. If you do not agree to this Privacy Policy, please do not use the Site or DLI's services.
			</p>
			<h3>
			What is the purpose of this Privacy Policy?
			</h3>
			<p>
			This Privacy Policy discloses our personal information gathering and dissemination practices with respect to the Site and our services. Please read this Privacy Policy carefully.
			</p>
			<h3>
			What information do we collect from users and how is it used?
			</h3>
			<p>
			The following describes the types of personal and other information we may collect about you, and how we use and maintain that information:
			</p>
			<p>
			<em>Registration.</em> Before you can utilize the services that we offer on the Site or otherwise, we may ask that you register with DLI and provide us with your email address, a password, your first and last name and other contact information and personal details. We request this information for identification purposes, to communicate with you regarding your account, and to facilitate the functioning of certain services. We may keep this information indefinitely.
			</p>
			<p>
			<em>Correspondence.</em> If you correspond with us via email, we may gather in a file specific to you the information that you submit. We may keep this information indefinitely.
			</p>
			<p>
			<em>Promotions.</em> We collect information you give us when you participate in a DLI promotion, such as a sweepstakes or contest. Specifically, you will typically be asked to provide your name, email address, and mailing address. We store this information in our database and will use it to communicate with you about the promotion. We may also use this information to promote our services to you in the future, unless you inform us that you opt out from receiving such communications.
			</p>
			<p>
			<em>URL and IP addresses.</em> Like many other websites, DLI collects information about users' utilization and navigation of our Site. This information helps us to design our Site to better suit our users' needs. For example, our Site will track the URL that you visited before you came to our Site, the URL to which you next go and your Internet Protocol (IP) address. We use your IP address to help diagnose problems with our server and to administer our Site. Your IP address also is used to help identify you and to gather broad demographic information.
			</p>
			<p>
			<em>Information Collected With Cookies.</em> Like most websites, DLI uses cookies on certain pages of our Site. Cookies make using the Internet easier by, among other things, saving your preferences for you. For example, a cookie lets the Site remember that you've registered, which allows us to speed up your future activities at our Site, and which allows you to enter your registration information less frequently while visiting our Site. We may also use cookies to deliver content tailored to your interests. Our cookies may enable us to relate your use of our Site to personally identifying information that you previously submitted, such as calling you by name when you return to our Site. If your browser is set to reject cookies, or if your browser notifies you that you are about to receive a cookie and you reject it, then your use of the Site may not be as efficient or as enjoyable as it would be if the cookie were enabled. The information that we collect with cookies allows us to improve our marketing and promotional efforts, to statistically analyze Site usage, to improve our content and product offerings and to customize our Site's content, layout and services. However, we only use information collected with cookies on an aggregated basis without the use of any information that personally identifies you.
			</p>
		</section>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->