<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<h1>
		Teacher Resources
		</h1>
		<nav>
			<ul>
				<li class="current">
					Teacher Resource Hub
				</li>
				<li>
					<a href="/static/resources/videosupport">
					Video Support
					</a>
				</li>
				<li>
					<a href="/static/resources/faq">
					FAQ
					</a>
				</li>
			</ul>
		</nav>
		<section>
			<p>
			Need help with a lesson plan? Want a great video to help supplement your teaching? Well, our Teacher Resource Hub connects you with awesome education resources that you can easily access with just a click of a button. We've taken the time to find the best resources on the Internet and have organized them here, so you don't have to go far to find what you need. We update our lists regularly, so make sure you keep coming back to find out what new fantastic items we've found for you.
			</p>
		</section>
		<article>
			<a href="/static/resources/example-resource-page">
			New Education Technology
			</a>
			
		</article>
		<article>
			<a href="#">
			Lesson Plans
			</a>
		</article>
		<article>
			<a href="#">
			Games and Activities
			</a>
		</article>
		<article>
			<a href="#">
			Classroom Management
			</a>
		</article>
		<article>
			<a href="#">
			Apps
			</a>
		</article>
		<article>
			<a href="#">
			Assessments
			<a href="#">
		</article>
		<article>
			<a href="#">
			Special Needs
			</a>
		</article>
		<article>
			<a href="#">
			ELL
			</a>
		</article>
		<article>
			<a href="#">
			Video Resources
			</a>
		</article>
		<article>
			<a href="#">
			Worksheets
			</a>
		</article>
		<article>
			<a href="#">
			Guest Presenters
			</a>
		</article>
		<article>
			<a href="#">
			Field Trips
			</a>
		</article>
		<article>
			<a href="#">
			Grade Book
			</a>
		</article>
		<article>
			<a href="#">
			Raising Funds
			</a>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->