<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki.html">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks.html">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers.html">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press.html">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam.html">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport.html">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<h1>
		Teacher Resources
		</h1>
		<nav>
			<ul>
				<li>
					<a href="/static/resources/teacherresourcehub.html">
					Teacher Resource Hub
					</a>
				</li>
				<li class="current">
					Video Support
				</li>
				<li>
					<a href="/static/resources/faq.html">
					FAQ
					</a>
				</li>
			</ul>
		</nav>
		<section>
			<p>
			Not sure how to put together a video?  Want to make your video shine? Well, we're here to help you make your video as polished as possible.  So check out our advice and "how-to's" below to make a good video great!
			</p>
		</section>
		<article>
			<a href="#">
			Video info link 1
			</a>
			
		</article>
		<article>
			<a href="#">
			Video info link 2
			</a>
		</article>
		<article>
			<a href="#">
			Video info link 3
			</a>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->