<h3>Do you have a linkedin profile and wish to use information from it as part of your demolesson profile?</h3>

<div>
<%= form_tag :action=> "linkedinprofile" do %>
  		<%= hidden_field_tag :response, :yes %>
		<%= submit_tag "Import Now", :class => "btn btn-success" %>

		<%= link_to "No Thanks", '/'+self.current_user.teacher.url, :class => "btn" %>
	
<% end %>
</div>
