<h1>Editing school</h1>

<div class="notice">View a <%= link_to 'sample profile', '/schools/2' %> to see what your completed one will look like.</div>
<br />

<%= render 'form' %>

<%= link_to 'Show', @school %>