<%= raw @style %>
<div class="kRap">
	<h1 class="title">Welcome to <img src="/assets/logo_new.png" /></h1>
	<img src="/assets/Melissa.jpg" style="float:left;" class="floated" />

	<p>At DemoLesson, we give educators the freedom to market themselves like never before! We’ve utilized the best technology to create the most efficient, effective, and empowering hiring platform for educators.</p>

	<img src="/assets/marley.gif" style="float:right;" class="floated" />

	<p>Your DemoLesson profile serves as your professional digital portfolio. It provides a space for you to step off of the traditional resume and showcase your talents and abilities to potential employers in a way you never could before.</p>

	<p>Use our advanced search database to search for the job of your dreams. Our application tracking system allows you to track your position within the hiring process so that you are never in the dark again. You can even share your profile with schools outside of our network, further enhancing your ability to market yourself!</p>

	<div class="button_wrap">
		<a href="?x=step1" class="btn btn-large btn-primary" style="padding:9px 50px;">Unlock your profile</a>
	</div>
</div>