<div class="kRap">
	<h1 class="title">Welcome to <img src="/assets/logo_new.png" /></h1>
	
	<img src="/assets/Melissa.jpg" style="float:left;" class="floated" />
	<p>DemoLesson is the premiere online professional network exclusively for educators. As former educators ourselves, we know that you’re not “just a teacher.” There’s so much more to you and your profession than is normally publicized, and we’ve made it our mission to put you in control of creating your professional image as an educator. We’ve built our website specifically for the use of educators, and through such features as video 
	<img src="/assets/marley.gif" style="float:right;margin-top:10px;" class="floated" />and specialized skills tags, we’ve made it easier than ever for educators to create their online identity and make meaningful connections with others in the field. Whether you want to showoff your incredible talents, broaden your network, connect with those you already know, or meet new educators in the field, DemoLesson is the professional network for you!</p>

	<div class="button_wrap">
		<a href="?x=step1" class="large button" style="padding:9px 50px;">Unlock your profile</a>
	</div>
</div>