<div class="row kRap" style="position:relative;">
	<div class="twelve columns">
		<h1 class="smaller">Start growing your DemoLesson network</h1>
	</div>
	<div class="clear"></div>

	<div class="twelve columns">
		<form class="person_form" method="POST">
			<input type="hidden" name="people" />

			<div class="done" style="display:none;">
				<input type="submit" class="large button" style="padding:9px 50px;display:inline;width:auto;float:right;" value="Next Step" />
				<p class="preselected" style="display:none;">Great news! Some of your contacts are already on Demo Lesson. We have selected them for you below in blue. Select a few more that you would like to connect with.</p>
				<p class="no-pre" style="display:none;">Select some contacts that you would like to connect with.</p>
			</div>

			<div class="detected" style="display:none;">
				<span id="service-icon" style="float:right;"></span>
				<h3>You can get started by adding your email address</h3>

				<div style="float:left;width:165px;text-align:right;padding-top:7px;">
					<span style="font-weight:bold;font-size:18px;">Your Email:</span>
				</div>

				<div style="margin-left: 175px;">
					<input id="email" value="<%= @user.email %>" style="margin-bottom:3px;" placeholder="Email Address" />
					<input id="password" type="password" style="display:none;margin-bottom:3px;" placeholder="Password" />
					<a id="submit" class="medium button">Continue</a>
					<p id="password" style="margin:0px;margin-top:10px;">You can trust us! We won't store your password or email you or your contacts without your permission.</p>
				</div>
			</div>

			<div class="undetected" style="display:none;">
				<h3>We could not detect your email provider</h3>

				<div style="margin-left: 175px;">
					<p>Please pick from the list below.</p>
					<a class="service" href="#yahoo">
						<img src="/assets/cs_icons/yahoo.png" />
					</a>
					<a class="service" href="#windowslive">
						<img src="/assets/cs_icons/msn.png" />
					</a>
					<a class="service" href="#gmail">
						<img src="/assets/cs_icons/google.png" />
					</a>
					<!--a class="service" href="#aol">
						<img src="/assets/cs_icons/aol.png" />
					</a>
					<a class="service" href="#plaxo">
						<img src="/assets/cs_icons/plaxo.png" />
					</a-->
					<!--a class="service" href="#addressbook">
						<img src="/assets/cs_icons/apple.png" />
					</a>
					<a class="service" href="#outlook">
						<img src="/assets/cs_icons/microsoft.png" />
					</a-->
				</div>
			</div>

			<div class="person_cloud">
				<div class="clear"></div>
			</div>

			<div class="button_wrap">
				<input type="submit" disabled="disabled" class="secondary large button" style="padding:9px 50px;display:inline;width:auto;" value="Next Step" />
			</div>
		</form>
	</div>

	<a style="position:absolute;padding:7px 50px;display:inline;width:auto;bottom:40px;right:10px;" href="?x=step5">Skip Step &raquo;</a>
</div>

<div id="iframeModal" class="reveal-modal">
  <h1 class="smaller">Please authenticate to your <span id="service">Unknown</span> account.</h1>
  <iframe class="css3-border-box" src="about:blank" style="width:500px;height:350px;"></iframe>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
$(document).ready(function() {
	var serviceIcons = {
		"YAHOO": "/assets/cs_icons/yahoo.png",
		"WINDOWSLIVE": "/assets/cs_icons/msn.png",
		"GMAIL": "/assets/cs_icons/google.png",
		"AOL": "/assets/cs_icons/aol.png",
		"PLAXO": "/assets/cs_icons/plaxo.png",
		"ADDRESSBOOK": "/assets/cs_icons/apple.png",
		"OUTLOOK": "/assets/cs_icons/microsoft.png"
	};

	// Create a duplication prevention array
	var duplicatePrevention = new Array;
	var selectedContacts = new Array;

	var grabContacts = function(import_id) {
		// Get a list of all the users contacts
		$.post('/welcome_wizard?x=get_contacts&STEP3=true', {"import_id": import_id}, function(data) {
			if(data.type == 'error') return;

			for(var i in data.data) {
				// Get the contact data
				var contact = data.data[i];
				var name = contact.name

				// Create a box for every email
				for(var e in contact.emails) {

					// Prevent Duplicate Emails
					if($.inArray(contact.emails[e], duplicatePrevention) !== -1) continue;
					duplicatePrevention.push(contact.emails[e]);

					// Generate link and add it to the flow
					link = $('<a href="#contact" x-data-email="'+contact.emails[e]+'" class="button secondary" />');
					link.html('<span class="name">'+name+'</span><span class="email">'+contact.emails[e]+'</span>');
					$('div.person_cloud').prepend(link);
				}
			}

			// Select the members in our database automatically
			setTimeout(function() {

				// Reenable the submit button
				$('input[type="submit"]').prop('disabled', false).removeClass('secondary');
				$('div.detected').fadeOut(500);
				$('div.done').fadeIn(500);

				// Create a variable
				var preselected = false;

				// Go through and select all the people in our system
				for(var e in data.selected) {
					preselected = true;
					$('p.preselected').fadeIn(500);
					$('a[x-data-email="'+data.selected[e]+'"]').click();
				}

				if(!preselected)
					$('p.not-pre').fadeIn(500);
			}, 100);
		});
	};

	// Start the process for importing contacts by determining the service
	$.getJSON('/welcome_wizard?x=get_contacts&STEP1=true', function(data) {

		// If we dont have a service then show undetected
		if(data.service === false) return $('div.undetected').fadeIn(500);

		// If we have the service then go ahead and set it
		window.emailService = data.service;

		// Format the name for display
		data.service = data.service.toLowerCase();
		var name = data.service.charAt(0).toUpperCase() + data.service.slice(1);

		// Set each content of #service to the service name
		$('#service').each(function() {
			$(this).text(name);
		});

		// Set the service icons
		if(serviceIcons[window.emailService] !== undefined)
			$('span#service-icon').html('<img src="' + serviceIcons[window.emailService] + '" />');

		// Load in the box for detected emails
		setTimeout(function() {
			$('div.detected').fadeIn(500);
		}, 200);
	});

	// If we had an undetected service allow the user to specify
	$('a.service').click(function(e) {
		e.preventDefault();

		// Place the service in the window
		window.emailService = $(this).attr('href').slice(1).toUpperCase();

		// Format the name for display
		var service = window.emailService.toLowerCase();
		var name = service.charAt(0).toUpperCase() + service.slice(1);

		// Set each content of #service to the service name
		$('#service').each(function() {
			$(this).text(name);
		});

		// Set the service icons
		if(serviceIcons[window.emailService] !== undefined)
			$('span#service-icon').html('<img src="' + serviceIcons[window.emailService] + '" />');

		// Face out the undetected box
		$('div.undetected').fadeOut(500, function() {

			// Fade in the detected box
			setTimeout(function() {
				$('div.detected').fadeIn(500);
			}, 200);
		});

		return false;
	});

	// Once the user has entered in their contact information lets
	// Go ahead and process the connection
	$('a#submit').click(function(e) {
		e.preventDefault();

		// Prepare the data
		var data = new Object;
		data.email = $('input#email').val();
		data.password = $('input#password').val();
		data.service = window.emailService;

		// Go ahead and go ahead and generate the import id
		$.post('/welcome_wizard?x=get_contacts&STEP2=true', data, function(data) {

			// We are only supporting popup style right nwo with OAUTH
			if(data.consent_url !== null) {

				// Load the consent popup
				var consentPopup = window.open(data.consent_url, 'consentPop', 'width=500, height=350, left=24, top=24, scrollbars, resizable');

				// If the popup was blocked inform the user otherwise focus it
				if(consentPopup == null)
					return alert('Please disable your pop-up blocker and click the "Continue" button again.'); 
				else consentPopup.focus();
				
				// Watch for the popup to close
				var watchClose = setInterval(function() {
					try {
						// Once the popup closed stop the interval
						if (consentPopup.closed) {
							clearTimeout(watchClose);

							// Get the users contacts
							contacts = grabContacts(data.import_id);
						}
					} catch(e) {}
				}, 200);
			}
		});
		return false;
	});

	// One someone click on a contact add it to the array to invite
	$('a[href="#contact"]').live('click', function(e) {
		e.preventDefault();

		// If the button is not selected
		if($(this).hasClass('secondary')) {

			// Create contact array
			if(selectedContacts === undefined)
				selectedContacts = new Array;

			// Remove secondary class
			$(this).removeClass('secondary');

			// Add the email to the invite array
			selectedContacts.push($(this).attr('x-data-email'));
		}

		// If the button was selected
		else {

			// Add the secondary class
			$(this).addClass('secondary');

			// Remove the email from the invite array
			var key = $.inArray($(this).attr('x-data-email'), selectedContacts);
			if(key !== -1) selectedContacts.splice(key, 1);
		}

		return false;
	});

	$('form.person_form').submit(function(e) {
		e.preventDefault();

		// Set the people to the form
		$('input[name="people"]').val(selectedContacts.join(','));

		// Submit the form
		$(this).get(0).submit();

		return false;
	});
});
</script>