<div class="kRap">
	<h1 class="smaller">Let's get started by collecting some information about you.</h1>

	<form method="POST">
		<table>
			<tr>
				<td>
					<label>
						<span>First Name</span>
						<input type="text" name="user[first_name]" />
					</label>
				</td>
				<td>
					<p>Your first name for your profile.</p>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<span>Last Name</span>
						<input type="text" name="user[last_name]" />
					</label>
				</td>
				<td>
					<p>Your last name for your profile.</p>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<span>Email Address</span>
						<input type="text" name="user[email]" />
					</label>
				</td>
				<td>
					<p>Your email address (this will also be your sign in name).</p>
				</td>
			</tr>
		</table>

		<p class="note"><strong>*</strong>Your temporary password will be sent to you via email.</p>

		<div class="button_wrap">
			<input type="submit" class="large button" style="padding:9px 50px;display:inline;width:auto;" value="Next Step" />
		</div>
	</form>
</div>