<%= raw @style %>
<div class="kRap">
	<h1>What kind of skills do you have?</h1>

	<form method="POST">
		<table>
			<tr>
				<td>
					<label>
						<span>Skills</span>
						<input type="text" id="skills" name="skills" />
					</label>
				</td>
				<td>
					<p>What kind of skills do you have? Just type and search or click from the cloud below.</p>
				</td>
			</tr>
		</table>

		<div class="skill_cloud">

			<div class="clear"></div>
		</div>

		<div class="button_wrap">
			<input type="submit" class="btn btn-large btn-primary" style="padding:9px 50px;display:inline;width:auto;" value="Next Step" />
		</div>
	</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('.token-input-dropdown-facebook').remove();
	$.getJSON("<%= @existing_skills %>", function(data) {
		$("#skills").tokenInput("/skills.json", {
			"method": 'POST',
			"queryParam": 'q',
			"theme": 'facebook',
			"preventDuplicates": true,
			"prePopulate": data
		});

		$.getJSON("/skills.json?tokenizer=true", function(allTags) {
			sub = new Array;
			for(var skillGroup in allTags) {
				if(!(skillGroup in sub)) {
					sub[skillGroup] = $('<div><div class="clear"></div>');
					$('div.skill_cloud').prepend(sub[skillGroup]);	
				}
				
				for(var i in allTags[skillGroup]) {
					skill = $("<a class=\"skill\" href=\"#\" />");
					skill.attr('name', allTags[skillGroup][i].name);
					skill.attr('id', allTags[skillGroup][i].id);
					skill.text(allTags[skillGroup][i].name);
					sub[skillGroup].prepend(skill);
				}

				sub[skillGroup].prepend($("<h3>" + skillGroup + "</h3>"));
			}
		});
	});

	$('a.skill').live('click', function(e) {
		e.preventDefault();
		var x = $(this).attr('id');
		var y = $(this).attr('name');
		$('#skills').tokenInput("add", {id: x, name: y});
		return false;
	});
});
</script>