<div id="wrapper">
	
<div id="header_inner" align="center">

<h2>A revolution in teacher placement, launching soon!</h2>

<br />
<br />

<%= form_for @alpha do |f| -%>
  	<%= f.text_field :email, :placeholder => "Your email address", :size => '40' %>
	<%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end -%>

<br />

<p>Leave your email address and we'll notify you when we launch.</p>

</div>

<div id="container_inner" style="height: 200px">
	
<div id="left" align="center">

<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FDemo-Lesson%2F192819414102663&amp;width=292&amp;colorscheme=light&amp;show_faces=true&amp;border_color=EEEEEE&amp;stream=false&amp;header=false&amp;height=180" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:180px;" allowTransparency="true"></iframe>

</div>

<div id="right" align="center">

	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 4,
	  interval: 6000,
	  width: 250,
	  height: 300,
	  theme: {
	    shell: {
	      background: '#EEEEEE',
	      color: '#333333'
	    },
	    tweets: {
	      background: '#F9F9F9',
	      color: '#333333',
	      links: '#056ba7'
	    }
	  },
	  features: {
	    scrollbar: false,
	    loop: false,
	    live: false,
	    hashtags: true,
	    timestamp: true,
	    avatars: false,
	    behavior: 'all'
	  }
	}).render().setUser('demolesson').start();
	</script>

</div>

<div class="clearer"></div>

</div>

<div id="footer_inner"></div>

</div>
