<div id="wrapper">
	
<div id="header_form" align="center">

<h2>A preview of what you can do.<br /><span class="hilite">Launching Soon.</span></h2>

<br />
<br />

<%= form_for @alpha do |f| -%>
  	<%= f.text_field :email, :placeholder => "Your email address", :size => '40' %>
	<span class="hidden"><%= f.text_field :userType, :value => '1', :hidden => :true %></span>
	<%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end -%>

<br />

<p style="color: #666"><strong>Leave your email address and we'll notify you when we launch.</strong></p>

</div>

</div>
