<div id="login-register" class="kmodal">
	<form action="#" method="POST">
		<input type="email" name="email" />
		<input type="password" name="password" />
		<input type="submit" />
	</form>
</div>
<style>
div.kmodal {
	background: #FFF;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
	$(document).kModal('init', {
		'mask-color': '#000', // Color of the mask
		'mask-opacity': 0.3, // Opacity of the mask
		'mask-z-index': 10, // Z-Index of the mask
		'close-esc':1, // Bind the ESC key to close the modal
		'close-mask':1, // Bind clicking on the mask to close the modal
		'close-button':0, // Bind any immediate child of the modal that has the 'close' class to close the modal
		'bind-link':1, // Bind any link containing the attribute kmodal="1" to open the modal whose selector matches that of the href attribute
		'fade-time':500, // How long does it take to fade in / out
		'modal-z-index': 11 // Modal Z-Index level
	});
});
</script>