<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	
	<title>Tioki &mdash; Be Seen. Be Heard. Be Connected.</title>

	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tags %>
	
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript">
		$(document).ready(function() {

			// Orbit
			$('#featured').orbit({
				 animation: 'fade',         // fade, horizontal-slide, vertical-slide, horizontal-push
				 animationSpeed: 700,                // how fast animations are
				 timer: false, 			 // true or false to have the timer
				 advanceSpeed: 5000, 		 // if timer is enabled, time between transitions 
				 pauseOnHover: true, 		 // if you hover pauses the slider
				 startClockOnMouseOut: true, 	 // if clock should start on MouseOut
				 startClockOnMouseOutAfter: 1000, 	 // how long after MouseOut should the timer start again
				 directionalNav: true, 		 // manual advancing directional navs
				 captions: true, 			 // do you want captions?
				 captionAnimation: 'fade', 		 // fade, slideOpen, none
				 captionAnimationSpeed: 800, 	 // if so how quickly should they animate in
				 bullets: false,			 // true or false to activate the bullet navigation
				 bulletThumbs: false,		 // thumbnails for the bullets
				 bulletThumbLocation: '',		 // location from this file where thumbs will be
				 afterSlideChange: function(){}, 	 // empty function 
				 fluid: true                         // or set a aspect ratio for content slides (ex: '4x3') 
			});
			
			// Drawer Handle
			/*
			$('#drawer-handle').click(function() {
				$('#login-drawer').animate({
					marginTop: '0px'
				}, 400, function() {
					// Animation complete.
				});
			});
			
			// Close Drawer
			$('#close-drawer').click(function() {
				$('#login-drawer').animate({
					marginTop: '-60px'

				}, 400, function() {
					// Animation complete.
				});
			});
			*/
		});
	</script>

</head>

<body>

	<!-- FaceBook Integration -->
	<div id="fb-root"></div>
	<script type="text/javascript">
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=250203168393549";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
			
	<div id="page-wrapper">
		<section id="login-drawer" class="wrapper">
			<div class="drawer-wrapper inner-content">
				<a href="#" id="close-drawer">
				Close
				</a>
				<form action="/" id="login-form">
					<fieldset>
						<input type="email" placeholder="Email" />
					</fieldset>
					<fieldset>
						<input type="password" placeholder="Password" />
					</fieldset>
					<fieldset>
						<input type="submit" class="button primary-button" value="Login" />
					</fieldset>
					<a href="#" class="forgot-password">
					Forgot Password?
					</a>
				</form>
			</div>
		</section>
		<section class="login-header wrapper">
			<header class="inner-content">
				<a href="/">
					<div class="logo">
					Tioki
					</div>
				</a>
				<a href="http://launch.tioki.com" id="drawer-handle" class="button">
				Contact me when Tioki is available
				</a>
				<!--a href="#" id="drawer-handle" class="button">
				Login
				</a-->
			</header>
		</section>
		
		<!-- Import page here -->
		<%= yield %>

		<section class="footer-wrapper wrapper">
			<footer class="inner-content">
				<nav class="footer-nav">
					<section class="footer-section">
						<p class="bold">
						About Tioki
						</p>
						<ul>
							<li>
								<a href="/static/whatistioki">
								What is Tioki?
								</a>
							</li>
							<li>
								<a href="/static/howitworks">
								How It Works
								</a>
							</li>
							<li>
								<a href="/static/ourcustomers">
								Our Customers
								</a>
							</li>
							<li>
								<a href="/static/press">
								Press
								</a>
							</li>
							<li>
								<a href="/static/ourteam">
								Our Team
								</a>
							</li>
						</ul>
					</section>
					<section class="footer-section">
						<p class="bold">
						Teacher Resources
						</p>
						<ul>
							<li>
								<a href="/static/resources/teacherresourcehub">
								Teacher Resource Hub
								</a>
							</li>
							<li>
								<a href="/static/resources/videosupport">
								Video Support
								</a>
							</li>
							<li>
								<a href="/static/resources/faq">
								FAQ
								</a>
							</li>
						</ul>
					</section>
					<section class="footer-section">
						<p class="bold">
						Help &amp; Support
						</p>
						<ul>
							<li>
								<a href="/static/resources/contactandsupport">
								Contact and Support
								</a>
							</li>
							<li>
								<a href="/static/resources/terms">
								Terms of Service
								</a>
							</li>
							<li>
								<a href="/static/resources/privacy">
								Privacy
								</a>
							</li>
						</ul>
					</section>
					<section class="footer-section">
						<p class="bold">
						Connect With Us
						</p>
						<ul class="social-icons">
							<li>
								<a href="http://twitter.com/demolesson" target="_blank" class="twitter-icon">
								Twitter
								</a>
							</li>
							<li>
								<a href="http://www.facebook.com/demolesson" target="_blank" class="facebook-icon">
								Facebook
								</a>
							</li>
							<li>
								<a href="http://blog.demolesson.com/" target="_blank" class="blog-icon">
								Blog
								</a>
							</li>
						</ul>
					</section>
					<section class="footer-section last-footer-section">
						<!--a href="tellafriend.html" class="button refer-button">
						Tell a Friend
						</a-->
					</section>
					<div class="clearfloat"></div>
				</nav>
				<section class="copyright">
					&copy; 2012 Demo Lesson Inc. All Rights Reserved.
				</section>
			</footer>
		</section> <!-- End Footer Wrapper -->
	</div> <!-- End Page Wrapper -->

</body>
</html>